{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}Users{% endblock %}

{% block body %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                'container': 'body',
                'placement': 'top'
            })
        })
    </script>

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-12">
                <div class="form-check float-end">
                    {% if withExternal %}
                        <input class="form-check-input" type="checkbox" value="" id="with_external" checked>
                    {% else %}
                        <input class="form-check-input" type="checkbox" value="" id="with_external">
                    {% endif %}
                    <label class="form-check-label" for="with_external">Otros jugadores
                        <i class="bi bi-info-circle" data-toggle="tooltip" title="Gente de TCO o NKFL contra la que hemos jugado"></i>
                    </label>
                </div>
            </div>
        </div>

        <div class="" style="display: flex; overflow-x: auto">
            <table class="table table-responsive-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Victorias</th>
                        <th scope="col">Derrotas</th>
                        <th scope="col">Win rate</th>
                        <th scope="col">Partidas jugadas</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>
                            <a href="{{ path('keyforge_game_list_by_user', {'userId': user.id}) }}">{{ user.name }}</a>
                            {% if user.is_external == false %}🥚{% endif %}
                        </td>
                        <td>{{ user.wins }}</td>
                        <td>{{ user.losses }}</td>
                        <td>{{ user.win_rate|round(2) }}%</td>
                        <td>{{ user.games_played }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const checkbox = $("#with_external");

        checkbox.change(function(event) {
            const checkbox = event.target;
            if (checkbox.checked) {
                window.location.href += "?withExternal";
            } else {
                window.location.href = window.location.href.split('?')[0] ;
            }
        });
    </script>
{% endblock %}
