<div class="row">
    <div>
        <a style="position: fixed; bottom: 20px; left: 20px; z-index: 99999" class="btn btn-dark" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false"><i class="bi bi-filter"></i></a>
    </div>
</div>

<div class="collapse" id="filters">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group col-12">
                    <label for="sets" class="form-label">{{ 'deck.set_main'|trans }}</label>

                    <div class="row" style="padding-left: .8em;">
                        {% for set in sets %}
                            {% if set.isMain and set.isEnabled %}
                                <div class="form-check col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2" style="display: flex; align-items: center;">
                                    <input class="form-check-input set_selector" type="checkbox" value="{{ set.name }}" id="check_set_{{ set.name }}">
                                    <label for="check_set_{{ set.name }}"><img width="33px" src="{{ asset('assets/keyforge/sets/' ~ set.name ~ '.svg') }}" alt="CotA"/>{{ ('keyforge.set_' ~ set.name)|lower|trans }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group col-12  mt-3">
                    <label for="sets" class="form-label">{{ 'deck.set_other'|trans }}</label>

                    <div class="row" style="padding-left: .8em;">
                        {% for set in sets %}
                            {% if false == set.isMain and set.isEnabled %}
                                <div class="form-check col-6 col-sm-4 col-md-4 col-lg-2 col-xl-2" style="display: flex; align-items: center;">
                                    <input class="form-check-input set_selector" type="checkbox" value="{{ set.name }}" id="check_set_{{ set.name }}">
                                    <label for="check_set_{{ set.name }}"><img width="33px" src="{{ asset('assets/keyforge/sets/' ~ set.name ~ '.svg') }}" alt="CotA"/>{{ ('keyforge.set_' ~ set.name)|lower|trans }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="divider py-1"></div>
                <div class="divider py-1"></div>
                <div class="form-group col-12">
                    <label for="houses" class="form-label">{{ 'deck.houses'|trans }}</label><b></b>
                    <input class="form-check-input house_type_selector" type="radio" name="houses_filter_type" id="houses_filter_type_1" value="all" checked>
                    <label class="form-check-label" for="houses_filter_type_1">{{ 'menu.all'|trans }}</label>
                    <input class="form-check-input house_type_selector" type="radio" name="houses_filter_type" id="houses_filter_type_2" value="any">
                    <label class="form-check-label" for="houses_filter_type_2">{{ 'menu.any'|trans }}</label>

                    <div class="row" style="padding-left: .8em;">
                        {% for house in houses %}
                            {% if house.isEnabled %}
                                <div class="form-check col-6 col-sm-6 col-md-4 col-lg-2 col-xl-2" style="display: flex; align-items: center;">
                                    <input class="form-check-input houses_selector" type="checkbox" value="{{ house.name|upper }}" id="check_house_{{ house.name|lower }}">
                                    <label for="check_house_{{ house.name|lower }}"><img width="35px" src="{{ asset('assets/keyforge/houses/' ~ house.name|upper ~ '.png') }}" alt="{{ house.name|upper }}"/>{{ ('keyforge.house_' ~ house.name|lower)|trans }}</label>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="divider py-1"></div>
                <div class="divider py-1"></div>
                <div class="divider py-1"></div>

                <div class="form-group">
                    <label for="tags" class="form-label">{{ 'menu.tags'|trans }}</label>
                    <input class="form-check-input tag_type_selector" type="radio" name="tags_filter_type" id="tags_filter_type_1" value="all" checked>
                    <label class="form-check-label" for="tags_filter_type_1">{{ 'menu.all'|trans }}</label>
                    <input class="form-check-input tag_type_selector" type="radio" name="tags_filter_type" id="tags_filter_type_2" value="any">
                    <label class="form-check-label" for="tags_filter_type_2">{{ 'menu.any'|trans }}</label>

                    <div class="form-group">
                        <select id="tag-selector" class="form-select">
                            {% for tag in tags %}
                                <option value="{{ tag.id }}">{{ tag.name[app.locale] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="divider py-1"></div>
                    <div class="form-group">
                        <select id="tag-selector-exclude" class="form-select">
                            {% for tag in tags %}
                                <option value="{{ tag.id }}">{{ tag.name[app.locale] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="divider py-1"></div>
                <div class="divider py-1"></div>
                <div class="divider py-1"></div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <label>{{ 'menu.min_sas'|trans }}</label>
                        <input type="number" class="form-control" name="min-sas" id="filter_min_sas" min="30" max="200" value="30">
                        <div class="divider py-1"></div>
                        <label>{{ 'menu.max_sas'|trans }}</label>
                        <input type="number" class="form-control" name="max-sas" id="filter_max_sas" min="30" max="200" value="200">
                    </div>

                    {% if owner is null %}
                    {% if is_granted('ROLE_KEYFORGE') %}

                    <div class="divider py-1"></div>
                    <div class="divider py-1"></div>
                    <div class="divider py-1"></div>

                    <div class="col-md-4 col-sm-12">
                        <label for="tags" class="form-label">{{ 'menu.other_options'|trans }}</label>

                        <div class="form-group">
                            <select id="owner-selector" class="form-select">
                                {% for user in users %}
                                    <option value="{{ user.id }}">{{ user.name }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="divider py-1"></div>

                        <div class="form-group">
                            <select id="deck-type-selector" class="form-select">
                                <option value="STANDARD">Standard</option>
                                <option value="ALLIANCE">Alliance</option>
                                <option value="THEORETICAL">Theoretical</option>
                            </select>
                        </div>

                        <div class="divider py-1"></div>
                        <div class="divider py-1"></div>

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="only_friends" checked>
                            <label class="form-check-label" for="only_friends">{{ 'menu.friend_decks_games'|trans }}</label>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>

                <div class="divider py-1"></div>

                <div class="row mt-3">
                    <div class="col-4 col-md-2">
                        <button class="btn btn-block btn-dark w-100" id="clearFilters">{{ 'menu.clear_filters'|trans }}</button>
                    </div>
                    <div class="col-8 col-md-10">
                        <button class="btn btn-block btn-dark w-100" id="applyFilters">{{ 'menu.search'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('#owner-selector').select2({
        multiple: true,
        closeOnSelect: false,
        allowClear: false,
        placeholder: '{{ 'menu.owner'|trans }}',
        theme: 'bootstrap-5'
    });

    $("#owner-selector").val("")
    $("#owner-selector").trigger("change");

    $('#deck-type-selector').select2({
        multiple: true,
        closeOnSelect: false,
        allowClear: false,
        placeholder: '{{ 'menu.deck_type'|trans }}',
        theme: 'bootstrap-5'
    });

    $("#deck-type-selector").val("STANDARD")
    $("#deck-type-selector").trigger("change");

    $('#tag-selector').select2({
        multiple: true,
        closeOnSelect: false,
        allowClear: false,
        placeholder: '{{ 'menu.include'|trans }}',
        theme: 'bootstrap-5'
    });

    $("#tag-selector").val("")
    $("#tag-selector").trigger("change");

    $('#tag-selector-exclude').select2({
        multiple: true,
        closeOnSelect: false,
        allowClear: false,
        placeholder: '{{ 'menu.exclude'|trans }}',
        theme: 'bootstrap-5'
    });

    $("#tag-selector-exclude").val("")
    $("#tag-selector-exclude").trigger("change");
</script>
