{% extends "Keyforge/Shared/base.html.twig" %}

{% block title %}Decks{% endblock %}

{% block body %}

    <div class="shadow-lg p-3 mb-5 bg-white rounded">

        <div class="border borderless">
            <table class="table table-responsive-sm table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Deck</th>
                        <th scope="col">Set</th>
                        <th scope="col">Houses</th>
                        <th scope="col">Winrate</th>
                        <th scope="col">SAS</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                {% for deck in decks %}
                    <tr>
                        <td><a href="/keyforge/games/deck/{{ deck.id }}">{{ deck.name }}</a></td>

                        {% set set = 'assets/keyforge/sets/' ~ deck.set.name ~ '.svg' %}
                        <td><img width="33px" src="{{ asset(set) }}" alt="{{ deck.houses.value[0].name }}"/></td>

                        {% set house0 = 'assets/keyforge/houses/' ~ deck.houses.value[0].name ~ '.png' %}
                        {% set house1 = 'assets/keyforge/houses/' ~ deck.houses.value[1].name ~ '.png' %}
                        {% set house2 = 'assets/keyforge/houses/' ~ deck.houses.value[2].name ~ '.png' %}
                        <td>
                            <img width="35px" src="{{ asset(house0) }}" alt="{{ deck.houses.value[0].name }}"/>
                            <img width="35px" src="{{ asset(house1) }}" alt="{{ deck.houses.value[1].name }}"/>
                            <img width="35px" src="{{ asset(house2) }}" alt="{{ deck.houses.value[2].name }}"/>
                        </td>

                        {% if (deck.wins + deck.losses) == 0 %}
                            {% set winrate = 0 %}
                        {% else %}
                            {% set winrate = (deck.wins / (deck.wins + deck.losses)) * 100 %}
                        {% endif %}

                        <td>{{ deck.wins }}/{{ deck.losses }} ({{ winrate|round(2) }}%)</td>
                        <td>{{ deck.sas }}</td>
                        <td>
                            <a href="https://www.keyforgegame.com/deck-details/{{ deck.id }}" target="_blank">
                                <img class="img-thumbnail" width="50px" style="min-width: 50px" src="{{ asset('assets/keyforge/logos/vault.png') }}" alt="Vault"/>
                            </a>
                            <a href="https://decksofkeyforge.com/decks/{{ deck.id }}" target="_blank">
                                <img class="img-thumbnail" width="40px" style="min-width: 40px" src="{{ asset('assets/keyforge/logos/dok.svg') }}" alt="DoK"/>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}