{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}Mis Decks{% endblock %}

{% block header %}
    <style>
        .btn-xs > .btn, .btn-xs {
            font-size  : .700rem;
            line-height  : .75;
        }
    </style>
{% endblock %}

{% block body %}
    {% include 'Keyforge/Stats/Deck/filters.html.twig' %}

    <div class="shadow-lg p-3 mb-5 bg-white rounded" style="display: flex; overflow-x: auto">
        <table id="deckList" class="table table-responsive-sm table-hover" style="width:100%;">
            <thead>
            <tr>
                <th scope="col">Tags</th>
                <th scope="col">Deck</th>
                <th scope="col">Set</th>
                <th scope="col">Casas</th>
                <th scope="col">Win Rate</th>
                <th scope="col">SAS</th>
                <th scope="col">Notas</th>
                <th scope="col"></th>
            </tr>
            </thead>
        </table>
    </div>

    <div class="modal fade" id="deckUpdateNotes" tabindex="-1" role="dialog" aria-labelledby="deckUpdateNotes" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modelaTitleLabel">Notas</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="updateDeckNotesForm">
                        <div class="row mt-3">
                            <div class="col-md-12">
                                <textarea class="form-control" name="notes" id="deckNotesInput" rows="8" maxlength="512"></textarea>
                            </div>
                        </div>

                        <div>
                            <input type="hidden" id="hiddenDeckId" value="">
                        </div>

                        <div class="divider py-1"></div>

                        <button type="submit" id="updateNotesSubmit" class="btn btn-block btn-dark" style="width: 100%">Guardar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function onlyOwned() {
            return false === $('#with_external')[0].checked;
        }

        // function tagFilterType() {
        //     return $('.tag_type_selector:checked')[0].value;
        // }

        function tags() {
            const inputs = $('.tagButton > input:checked');

            const tagIds = [];
            Array.prototype.forEach.call(inputs, function(input) {
                tagIds.push(input.value);
            });

            return tagIds;
        }

        function tagsExcluded() {
            const inputs = $('.tagButton > input:indeterminate');

            const tagIds = [];
            Array.prototype.forEach.call(inputs, function(input) {
                tagIds.push(input.value);
            });

            return tagIds;
        }

        function houseFilterType() {
            return $('.house_type_selector:checked')[0].value;
        }

        function maxSas() {
            return $('#filter_max_sas')[0].value;
        }

        function minSas() {
            return $('#filter_min_sas')[0].value;
        }

        function houses() {
            const checkboxes = $('.houses_selector:checked');
            let houses = [];

            checkboxes.each(function (index, check) {
                houses.push(check.value);
            });

            return houses;
        }

        function set() {
            const checkboxes = $('.set_selector:checked');
            let sets = [];

            checkboxes.each(function (index, check) {
                sets.push(check.value);
            });

            return sets;
        }

        function owners() {
            return $('#owner-selector').val();
        }

        $(document).ready(function () {
            $("#applyFilters").click(function(event) {
                $('#deckList').DataTable().ajax.reload();
            });

            $("#clearFilters").click(function(event) {
                location.reload();
            });

            $(window).on('resize', function() {
                $('#deckList.dataTable').resize;
            });

            $('#deckList').DataTable({
                // initComplete: function () {},
                searching: true,
                paging: true,
                info: true,
                responsive: true,
                processing: true,
                serverSide: true,
                order: [[4, 'desc']],
                lengthMenu: [10, 25, 50, 100],
                iDisplayLength: 25,
                ajax: {
                    url: '{{ path('keyforge_decks_json') }}',
                    data: function(d){
                        d.extraFilterOnlyOwned = onlyOwned();
                        // d.extraFilterTagType = tagFilterType();
                        d.extraFilterTags = tags();
                        d.extraFilterTagsExcluded = tagsExcluded();
                        d.extraFilterHouses = houses();
                        d.extraFilterHouseFilterType = houseFilterType();
                        d.extraFilterSet = set();
                        d.extraFilterMaxSas = maxSas();
                        d.extraFilterMinSas = minSas();
                        d.extraFilterOwners = owners();
                        d.extraFilterOwner = '{{ owner }}';
                    }
                },
                columns: [
                    { data: "tags" },
                    { data: "name" },
                    { data: "set" },
                    { data: "houses" },
                    { data: "wins" },
                    { data: "sas" },
                    { data: "notes" },
                    { data: "sas" },
                ],
                columnDefs: [
                    {
                        render: function (data, type, row) {
                            let tagsJson = JSON.parse('{{ tags|json_encode|raw }}');
                            let tags = [];

                            data.forEach(function (tagId) {
                                tagsJson.forEach(function (item) {
                                    if (tagId === item.id) {
                                        const tag = '<button type="button" class="btn btn-xs btn-outline-dark" data-value="' + item.name
                                            + '" style="background-color: ' + item.style.color_bg + '; color: ' + item.style.color_text + '; border-color: ' + item.style.color_outline + '">'
                                            + item.name + '</button>';

                                        tags.push(tag);
                                    }
                                })
                            })

                            return tags.sort().join('');
                        },
                        targets: 0, //Tags
                    },
                    {
                        render: function (data, type, row) {
                            {% if owner != null and owner != '' %}
                            return '<a href="/deck/' + row.id + '?userId={{ owner }}">' + data + '</a>';
                            {% else %}
                            return '<a href="/deck/' + row.id + '">' + data + '</a>';
                            {% endif %}
                        },
                        targets: 1, //Deck
                    },
                    {
                        render: function (data, type, row) {
                            let size = data === 'WC' ? 37 : 33;

                            let setNumber = 0;
                            switch (data) {
                                case 'CotA':
                                    setNumber = 1;
                                    break;
                                case 'AoA':
                                    setNumber = 2;
                                    break;
                                case 'WC':
                                    setNumber = 3;
                                    break;
                                case 'MM':
                                    setNumber = 4;
                                    break;
                                case 'DT':
                                    setNumber = 5;
                                    break;
                                case 'WoE':
                                    setNumber = 6;
                                    break;
                            }

                            return '<img width="' + size + 'px" src="' + '/assets/keyforge/sets/' + data + '.svg' + '" alt="' + data + '"/><h6>' + setNumber + '</h6>';
                        },
                        targets: 2, //Set
                    },
                    {
                        render: function (data, type, row) {
                            let house0 = '/assets/keyforge/houses/' + data[0] + '.png';
                            let house1 = '/assets/keyforge/houses/' + data[1] + '.png';
                            let house2 = '/assets/keyforge/houses/' + data[2] + '.png';

                            return '<img width="35px" src="' + house0 + '" alt="' + data[0] +'"/>' +
                                '<img width="35px" src="' + house1 + '" alt="' + data[1] +'"/>' +
                                '<img width="35px" src="' + house2 + '" alt="' + data[2] +'"/>';
                        },
                        targets: 3, //Houses
                    },
                    {
                        render: function (data, type, row) {
                            let wins = row.wins;
                            let losses = row.losses;
                            let win_rate = 0;

                            if (wins + losses > 0) {
                                win_rate = wins / (wins + losses) * 100;
                                win_rate = Math.round((win_rate + Number.EPSILON) * 100) / 100;
                            }

                            return wins + '/' + losses + ' (' + win_rate + '%)';
                        },
                        targets: 4, //Win Rate
                    },
                    {
                        render: function (data, type, row) {
                            return data;
                        },
                        targets: 5, //Sas
                    },
                    {
                        render: function (data, type, row) {
                            return '<div id="notesCell-'+ row.id + '"><small style="font-size: x-small">' + data.replace(/\n/g, '<br>') + '</small></div>';
                        },
                        targets: 6, //Notes
                    },
                    {
                        render: function (data, type, row) {
                            const vaultLink = 'https://www.keyforgegame.com/deck-details/' + row.id;
                            const dokLink = 'https://decksofkeyforge.com/decks/' + row.id;
                            const wikiLink = 'https://archonarcana.com/Deck:' + row.id;

                            const vaultLogo = '{{ asset('assets/keyforge/logos/vault.png') }}';
                            const dokLogo = '{{ asset('assets/keyforge/logos/dok.svg') }}';
                            const wikiLogo = '{{ asset('assets/keyforge/logos/wiki.jpg') }}';

                            const vaultButton = '<a href="' + vaultLink + '" target="_blank"><img class="img-thumbnail" width="50px" style="min-width: 50px" src="' + vaultLogo + '" alt="Vault"/></a>';
                            const dokButton = '<a href="' + dokLink + '" target="_blank"><img class="img-thumbnail" width="40px" style="min-width: 40px" src="' + dokLogo + '" alt="DoK"/></a>';
                            const wikiButton = '<a href="' + wikiLink + '" target="_blank"><img class="img-thumbnail" width="50px" style="min-width: 50px" src="' + wikiLogo + '" alt="Wiki"/></a>';

                            const notesButton = '<button type="button" class="btn btn-dark btn-sm ml-1" style="width: 39px; height: 49px" data-bs-toggle="modal" data-bs-target="#deckUpdateNotes" '
                                + 'data-deck-id="' + row.id + '" '
                                + 'data-notes="' + row.notes + '" '
                                + '><i class="bi bi-pencil"></i></button>';

                            return '<div class="row">' + '<div class="col-6">' + vaultButton + '</div>'
                                + '<div class="col-6">' +  dokButton + '</div>'+ '</div>'
                                + '<div class="row">' + '<div class="col-6">' + wikiButton + '</div>'
                                + '<div class="col-6">' + notesButton + '</div>'+ '</div>';
                        },
                        targets: 7, //Buttons
                    },
                    {
                        targets: [0, 1, 2, 3, 4, 5, 6, 7],
                        searchable: false,
                        visible: true,
                    },
                    {
                        targets: [0, 2, 3, 6, 7],
                        orderable: false
                    },
                    {
                        targets: [1, 4, 5],
                        orderable: true
                    },
                    { width: 250, targets: 0 },
                    { width: 350, targets: 1 },
                    { width: 50, targets: 2 },
                    { width: 150, targets: 3 },
                    { width: 100, targets: 6 },
                    { width: 150, targets: 7 },
                ],
            });
        });

        const modal = $('#deckUpdateNotes');

        modal.on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        });

        modal.on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);

            $.get({
                url: "/decks/json",
                method: "GET",
                dataType: "json",
                data: {
                    'extraDeckId': button.data('deck-id'),
                },
            }).done(function(response) {
                $('#deckNotesInput')[0].value = response.data[0].notes;
            });

            $('#hiddenDeckId')[0].value = button.data('deck-id');
        });

        modal.on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        });

        $('#updateDeckNotesForm').submit(function (e) {
            e.preventDefault();

            let deckId = $('#hiddenDeckId')[0].value;
            let notes = $('#deckNotesInput')[0].value;

            $.post({
                url: "{{ path('keyforge_deck_update_notes') }}",
                method: "POST",
                data: {
                    'deckId': deckId,
                    'notes': notes,
                },
            }).done(function() {
                $('#notesCell-' + deckId)[0].innerHTML = '<small style="font-size: x-small">' + notes.replace(/\n/g, '<br>') + '</small>';
                modal.modal('hide');
            });
        });
    </script>
{% endblock %}

