{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}My Decks{% endblock %}

{% block header %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="float-end">
            <a class="btn btn-dark" data-bs-toggle="collapse" href="#filters" role="button" aria-expanded="false"><i class="bi bi-filter"></i></a>
        </div>
    </div>

    <div class="collapse" id="filters">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="tags" class="form-label">Tags</label>
{#                        <input class="form-check-input tag_type_selector" type="radio" name="tags_filter_type" id="tags_filter_type_1" value="all" checked>#}
{#                        <label class="form-check-label" for="tags_filter_type_1">All</label>#}
{#                        <input class="form-check-input tag_type_selector" type="radio" name="tags_filter_type" id="tags_filter_type_2" value="any">#}
{#                        <label class="form-check-label" for="tags_filter_type_2">Any</label>#}
                        <select id="tags" name="tags[]" multiple>
                            {% for tag in tags %}
                                <option value="{{ tag.id }}"> {{ tag.name }} </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="divider py-1"></div>
                    <div class="divider py-1"></div>

                    <div class="form-group">
                        <label for="houses" class="form-label">Set</label>
                        <br>
                        <input class="form-check-input set_selector" type="checkbox" value="CotA" id="check_set_cota">
                        <img width="33px" src="/assets/keyforge/sets/CotA.svg" alt="CotA"/>
                        <input class="form-check-input set_selector" type="checkbox" value="AoA" id="check_set_aoa">
                        <img width="33px" src="/assets/keyforge/sets/AoA.svg" alt="AoA"/>
                        <input class="form-check-input set_selector" type="checkbox" value="WC" id="check_set_wc">
                        <img width="33px" src="/assets/keyforge/sets/WC.svg" alt="WC"/>
                        <input class="form-check-input set_selector" type="checkbox" value="MM" id="check_set_mm">
                        <img width="33px" src="/assets/keyforge/sets/MM.svg" alt="MM"/>
                        <input class="form-check-input set_selector" type="checkbox" value="DT" id="check_set_dt">
                        <img width="33px" src="/assets/keyforge/sets/DT.svg" alt="DT"/>
                    </div>
                    </br>
                    <div class="form-group">
                        <label for="houses" class="form-label">Houses</label>
                        <input class="form-check-input house_type_selector" type="radio" name="houses_filter_type" id="houses_filter_type_1" value="all" checked>
                        <label class="form-check-label" for="houses_filter_type_1">All</label>
                        <input class="form-check-input house_type_selector" type="radio" name="houses_filter_type" id="houses_filter_type_2" value="any">
                        <label class="form-check-label" for="houses_filter_type_2">Any</label>

                        </br>
                        <input class="form-check-input houses_selector" type="checkbox" value="BROBNAR" id="check_house_brobnar">
                        <img width="35px" src="/assets/keyforge/houses/BROBNAR.png" alt="BROBNAR"/>
                        <input class="form-check-input houses_selector" type="checkbox" value="DIS" id="check_house_dis">
                        <img width="35px" src="/assets/keyforge/houses/DIS.png" alt="DIS"/>
                        <input class="form-check-input houses_selector" type="checkbox" value="MARS" id="check_house_mars">
                        <img width="35px" src="/assets/keyforge/houses/MARS.png" alt="MARS"/>
                        <input class="form-check-input houses_selector" type="checkbox" value="SHADOWS" id="check_house_shadows">
                        <img width="35px" src="/assets/keyforge/houses/SHADOWS.png" alt="SHADOWS"/>
                        <input class="form-check-input houses_selector" type="checkbox" value="UNTAMED" id="check_house_untamed">
                        <img width="35px" src="/assets/keyforge/houses/UNTAMED.png" alt="UNTAMED"/>
                        </br>
                        </br>
                        <input class="form-check-input houses_selector" type="checkbox" value="SANCTUM" id="check_house_sanctum">
                        <img width="35px" src="/assets/keyforge/houses/SANCTUM.png" alt="SANCTUM"/>
                        <input class="form-check-input houses_selector" type="checkbox" value="LOGOS" id="check_house_logos">
                        <img width="35px" src="/assets/keyforge/houses/LOGOS.png" alt="LOGOS"/>
                        <input class="form-check-input houses_selector" type="checkbox" value="SAURIAN" id="check_house_saurian">
                        <img width="35px" src="/assets/keyforge/houses/SAURIAN.png" alt="SAURIAN"/>
                        <input class="form-check-input houses_selector" type="checkbox" value="STAR_ALLIANCE" id="check_house_star_alliance">
                        <img width="35px" src="/assets/keyforge/houses/STAR_ALLIANCE.png" alt="STAR_ALLIANCE"/>
                        <input class="form-check-input houses_selector" type="checkbox" value="UNFATHOMABLE" id="check_house_unfathomable">
                        <img width="35px" src="/assets/keyforge/houses/UNFATHOMABLE.png" alt="UNFATHOMABLE"/>
                    </div>

                    <div class="divider py-1"></div>
                    <div class="divider py-1"></div>

{#                    <label for="tags" class="form-label">Additional options</label>#}
{#                    <div class="form-check">#}
{#                        <input class="form-check-input" type="checkbox" value="" id="with_external">#}
{#                        <label class="form-check-label" for="with_external">Games with external users</label>#}
{#                    </div>#}
{#                    <div class="divider py-1"></div>#}

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <button class="btn btn-block btn-dark w-100" id="applyFilters">Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <table id="deckList" class="table table-responsive-sm table-hover" style="width:100%;">
            <thead>
            <tr>
                <th scope="col">Tags</th>
                <th scope="col">Deck</th>
                <th scope="col">Set</th>
                <th scope="col">Houses</th>
                <th scope="col">Win Rate</th>
                <th scope="col">SAS</th>
                <th scope="col"></th>
            </tr>
            </thead>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>

    <script>
        function onlyOwned() {
            return false;
        }

        // function tagFilterType() {
        //     return $('.tag_type_selector:checked')[0].value;
        // }

        function tags() {
            const options = $('select#tags.choices__input.is-hidden')[0].options;

            const tagIds = [];
            Array.prototype.forEach.call(options, function(option) {
                tagIds.push(option.value);
            });

            return tagIds;
        }

        function tagName(id) {
            let tagsJson = JSON.parse('{{ tags|json_encode|raw }}');

            tagsJson.each(function (item) {
                console.log(item);
            })

            return 'tagIds';
        }

        function houseFilterType() {
            return $('.house_type_selector:checked')[0].value;
        }

        function houses() {
            const checkboxes = $('.houses_selector:checked');
            let houses = [];

            checkboxes.each(function (index, check) {
                houses.push(check.value);
            });

            return houses;
        }

        function set() {
            const checkboxes = $('.set_selector:checked');
            let sets = [];

            checkboxes.each(function (index, check) {
                sets.push(check.value);
            });

            return sets;
        }

        $(document).ready(function () {
            new Choices('#tags', {
                removeItemButton: true,
                maxItemCount: null,
                searchResultLimit: null,
                renderChoiceLimit: null,
            });

            $("#applyFilters").click(function(event) {
                $('#deckList').DataTable().ajax.reload();
            });

            $(window).on('resize', function() {
                $('#deckList.dataTable').resize;
            });

            $('#deckList').DataTable({
                // initComplete: function () {},
                searching: true,
                paging: true,
                info: true,
                responsive: true,
                processing: true,
                serverSide: true,
                order: [[4, 'desc']],
                lengthMenu: [10, 25, 50, 100],
                iDisplayLength: 25,
                ajax: {
                    url: '/keyforge/decks/json',
                    data: function(d){
                        d.extraFilterOnlyOwned = onlyOwned();
                        // d.extraFilterTagType = tagFilterType();
                        d.extraFilterTags = tags();
                        d.extraFilterHouses = houses();
                        d.extraFilterHouseFilterType = houseFilterType();
                        d.extraFilterSet = set();
                        d.extraFilterOwner = '{{ owner }}';
                    }
                },
                columns: [
                    { data: "tags" },
                    { data: "name" },
                    { data: "set" },
                    { data: "houses" },
                    { data: "wins" },
                    { data: "sas" },
                    { data: "sas" },
                ],
                columnDefs: [
                    {
                        render: function (data, type, row) {
                            let tagsJson = JSON.parse('{{ tags|json_encode|raw }}');
                            let tags = [];

                            data.forEach(function (tagId) {
                                tagsJson.forEach(function (item) {
                                    if (tagId === item.id) {
                                        const tag = '<button type="button" class="btn btn-outline-dark" data-value="' + item.name
                                            + '" style="background-color: ' + item.style.color_bg + '; color: ' + item.style.color_text + '; border-color: ' + item.style.color_outline + '">'
                                            + item.name + '</button>';

                                        tags.push(tag);
                                    }
                                })
                            })

                            return tags.sort().join('<br>');
                        },
                        targets: 0, //Tags
                    },
                    {
                        render: function (data, type, row) {
                            {% if owner != null and owner != '' %}
                                return '<a href="/keyforge/games/deck/' + row.id + '?userId={{ owner }}">' + data + '</a>';
                            {% else %}
                                return '<a href="/keyforge/games/deck/' + row.id + '">' + data + '</a>';
                            {% endif %}
                        },
                        targets: 1, //Deck
                    },
                    {
                        render: function (data, type, row) {
                            let size = data === 'WC' ? 37 : 33;

                            let setNumber = 0;
                            switch (data) {
                                case 'CotA':
                                    setNumber = 1;
                                    break;
                                case 'AoA':
                                    setNumber = 2;
                                    break;
                                case 'WC':
                                    setNumber = 3;
                                    break;
                                case 'MM':
                                    setNumber = 4;
                                    break;
                                case 'DT':
                                    setNumber = 5;
                                    break;
                                case 'WoE':
                                    setNumber = 6;
                                    break;
                            }

                            return '<img width="' + size + 'px" src="' + '/assets/keyforge/sets/' + data + '.svg' + '" alt="' + data + '"/><h6>' + setNumber + '</h6>';
                        },
                        targets: 2, //Set
                    },
                    {
                        render: function (data, type, row) {
                            let house0 = '/assets/keyforge/houses/' + data[0] + '.png';
                            let house1 = '/assets/keyforge/houses/' + data[1] + '.png';
                            let house2 = '/assets/keyforge/houses/' + data[2] + '.png';

                            return '<img width="35px" src="' + house0 + '" alt="' + data[0] +'"/>' +
                                '<img width="35px" src="' + house1 + '" alt="' + data[1] +'"/>' +
                                '<img width="35px" src="' + house2 + '" alt="' + data[2] +'"/>';
                        },
                        targets: 3, //Houses
                    },
                    {
                        render: function (data, type, row) {
                            let wins = row.wins;
                            let losses = row.losses;
                            let win_rate = 0;

                            if (wins + losses > 0) {
                                win_rate = wins / (wins + losses) * 100;
                                win_rate = Math.round((win_rate + Number.EPSILON) * 100) / 100;
                            }

                            return wins + '/' + losses + ' (' + win_rate + '%)';
                        },
                        targets: 4, //Win Rate
                    },
                    {
                        render: function (data, type, row) {
                            return data;
                        },
                        targets: 5, //Sas
                    },
                    {
                        render: function (data, type, row) {
                            vaultLink = 'https://www.keyforgegame.com/deck-details/' + row.id;
                            dokLink = 'https://decksofkeyforge.com/decks/' + row.id;
                            wikiLink = 'https://archonarcana.com/Deck:' + row.id;

                            vaultLogo = '/assets/keyforge/logos/vault.png';
                            dokLogo = '/assets/keyforge/logos/dok.svg';
                            wikiLogo = '/assets/keyforge/logos/wiki.jpg';

                            return '<a href="' + vaultLink + '" target="_blank">' +
                                '<img class="img-thumbnail" width="50px" style="min-width: 50px" src="' + vaultLogo + '" alt="Vault"/></a>' +
                                '<a href="' + dokLink + '" target="_blank">' +
                                '<img class="img-thumbnail" width="40px" style="min-width: 40px" src="' + dokLogo + '" alt="DoK"/></a>' +
                                '<a href="' + wikiLink + '" target="_blank">' +
                                '<img class="img-thumbnail" width="50px" style="min-width: 40px" src="' + wikiLogo + '" alt="Wiki"/></a>';
                        },
                        targets: 6, //Buttons
                    },
                    {
                        targets: [0, 1, 2, 3, 4, 5, 6],
                        searchable: false,
                        visible: true,
                    },
                    {
                        targets: [0, 2, 3, 6],
                        orderable: false
                    },
                    {
                        targets: [1, 4, 5],
                        orderable: true
                    },
                ],
            });
        });
    </script>
{% endblock %}
