<div class="form-group">
   <div class="row">
       <div class="col-12 col-sm-6 col-md-3">
           <label>{{ 'game.winner'|trans }}</label>
           <select id="winner-selector" class="form-select game_list_filter">
               {% for id,friend in friends %}
                   <option value="{{ id }}">{{ friend }}</option>
               {% endfor %}
           </select>
       </div>
       <div class="col-12 col-sm-6 col-md-3">
           <label>{{ 'game.loser'|trans }}</label>
           <select id="loser-selector" class="form-select game_list_filter">
               {% for id,friend in friends %}
                   <option value="{{ id }}">{{ friend }}</option>
               {% endfor %}
           </select>
       </div>
       <div class="col-12 col-sm-6 col-md-3">
           <label>{{ 'game.keys'|trans }}</label>
           <select id="score-selector" class="form-select game_list_filter">
               <option value="2">3/2</option>
               <option value="1">3/1</option>
               <option value="0">3/0</option>
           </select>
       </div>
       <div class="col-12 col-sm-6 col-md-3">
           <label>{{ 'game.competition'|trans }}</label>
           <select id="competition-selector" class="form-select game_list_filter">
               <option value="SOLO">{{ 'game.solo'|trans }}</option>
               <option value="FRIENDS" selected>{{ 'game.with_friends'|trans }}</option>
               <option value="TCO_CASUAL">{{ 'game.tco_casual'|trans }}</option>
               <option value="TCO_COMPETITIVE">{{ 'game.tco_competitive'|trans }}</option>
               <option value="LGS">{{ 'game.lgs'|trans }}</option>
               <option value="VT">{{ 'game.vt'|trans }}</option>
               <option value="NATIONAL">{{ 'game.national'|trans }}</option>
               <option value="NKFL">{{ 'game.nkfl'|trans }}</option>
               <option value="LOCAL_LEAGUE">{{ 'game.local_league'|trans }}</option>
           </select>
       </div>
   </div>
</div>
<div class="divider py-2"></div>
<div class="" style="display: flex; overflow-x: auto">
    <table id="gamesList" class="table table-responsive-sm table-hover" style="width:100%;">
        <thead>
        <tr>
            <th scope="col">{{ 'game.winner'|trans }}</th>
            <th scope="col">{{ 'game.winner_deck'|trans }}</th>
            <th scope="col">{{ 'game.loser'|trans }}</th>
            <th scope="col">{{ 'game.loser_deck'|trans }}</th>
            <th scope="col">{{ 'game.keys'|trans }}</th>
            <th scope="col">{{ 'game.first_turn'|trans }}</th>
            <th scope="col">{{ 'game.date'|trans }}</th>
            <th scope="col">{{ 'game.competition'|trans }}</th>
            <th scope="col">{{ 'game.notes'|trans }}</th>
        </tr>
        </thead>
    </table>
</div>

<script>
    function prepareSelectors(id) {
        $('#' + id).select2({
            multiple: true,
            closeOnSelect: true,
            allowClear: false,
            placeholder: '',
            theme: 'bootstrap-5',
        });

        $('#' + id).val("")
        $('#' + id).trigger("change");
    }

    function winnerFilter() {
        return $('#winner-selector').val();
    }

    function loserFilter() {
        return $('#loser-selector').val();
    }

    function scoreFilter() {
        return $('#score-selector').val();
    }

    function competitionFilter() {
        return $('#competition-selector').val();
    }

    $(document).ready(function () {
        prepareSelectors('winner-selector');
        prepareSelectors('loser-selector');
        prepareSelectors('score-selector');
        prepareSelectors('competition-selector');

        $('.game_list_filter').change(function (e) {
            $('#gamesList').DataTable().ajax.reload();
        });

        $(window).on('resize', function() {
            $('#gamesList.dataTable').resize;
        });

        $('#gamesList').DataTable({
            searching: false,
            paging: true,
            info: true,
            responsive: true,
            processing: true,
            serverSide: true,
            order: [[6, 'desc']],
            lengthMenu: [10, 25, 50, 100],
            iDisplayLength: 25,
            ajax: {
                {% if deck_reference is null %}
                    url: '{{ path('keyforge_games_json', {'userId': user_reference}) }}',
                {% else %}
                    url: '{{ path('keyforge_games_json', {'deckId': deck_reference}) }}',
                {% endif %}
                data: function(d){
                    d.extraFilterWinner = winnerFilter();
                    d.extraFilterLoser = loserFilter();
                    d.extraFilterScore = scoreFilter();
                    d.extraFilterCompetition = competitionFilter();
                }
            },
            createdRow: function(row, data, dataIndex) {
                let deck = '{{ deck_reference }}';
                let user = '{{ user_reference }}';

                if (deck === data.{{ reference_type }} || user === data.{{ reference_type }}) {
                    $(row).addClass('table-success');
                } else {
                    $(row).addClass('table-danger');
                }
            },
            columns: [
                { data: "winner_name" },
                { data: "winner_deck_name" },
                { data: "loser_name" },
                { data: "loser_deck_name" },
                { data: "score" },
                { data: "first_turn" },
                { data: "date" },
                { data: "competition" },
                { data: "notes" },
            ],
            columnDefs: [
                {
                    render: function (data, type, row) {
                        return '<a href="/user/' + row.winner + '">' + data + '</a>';
                    },
                    targets: 0, //Winner
                },
                {
                    render: function (data, type, row) {
                        let reference = '{{ deck_reference }}';

                        let firstIcon = '';
                        if (row.first_turn === row.winner_name) {
                            firstIcon = '<i class="bi bi-lightning" data-toggle="tooltip" title="Primer turno"></i>';
                        }

                        if (reference === row.winner_deck) {
                            return data + firstIcon;
                        } else {
                            return '<a href="/deck/' + row.winner_deck + '">' + data + '</a>' + firstIcon;
                        }
                    },
                    targets: 1, //Winner deck
                },
                {
                    render: function (data, type, row) {
                        return '<a href="/user/' + row.loser + '">' + data + '</a>';
                    },
                    targets: 2, //Loser
                },
                {
                    render: function (data, type, row) {
                        let reference = '{{ deck_reference }}';

                        let firstIcon = '';
                        if (row.first_turn === row.loser_name) {
                            firstIcon = '<i class="bi bi-lightning" data-toggle="tooltip" title="Primer turno"></i>';
                        }

                        if (reference === row.loser_deck) {
                            return data + firstIcon;
                        } else {
                            return '<a href="/deck/' + row.loser_deck + '">' + data + '</a>' + firstIcon;
                        }
                    },
                    targets: 3, //Loser deck
                },
                {
                    render: function (data, type, row) {
                        let cell = '';

                        $(function () {
                            $('[data-toggle="tooltip"]').tooltip({
                                'container': 'body',
                                'placement': 'top'
                            })
                        })

                        if (row.loser_deck === row.winner_deck) {
                            cell += '<span data-toggle="tooltip" title="{{ 'game.mirror'|trans }}"> M </span>'
                        }

                        if (row.loser === row.winner) {
                            cell += '<span data-toggle="tooltip" title="{{ 'game.solo'|trans }}"> S </span>'
                        }

                        if ('' !== row.notes) {
                            cell += '<i class="bi bi-journal-text" data-toggle="tooltip" title="' + row.notes + '"></i>'
                        }

                        if (null !== row.logId) {
                            let url = '{{ path('keyforge_game_log', {'id': '-replace-'}) }}';
                            url = url.replace('-replace-', row.logId);

                            cell += '<a href="'+url+'" target="_blank"><i class="bi bi-graph-up" data-toggle="tooltip" title="{{ 'game.log'|trans }}"></i></a>';
                        }

                        return cell;
                    },
                    targets: 8, //Notes
                },
                {
                    targets: [0, 1, 2, 3, 4, 6, 7, 8],
                    searchable: false,
                    visible: true,
                },
                {
                    targets: [5],
                    visible: false,
                },
                {
                    targets: [0, 1, 2, 3, 4, 5, 7, 8],
                    orderable: false,
                },
                {
                    targets: [6],
                    orderable: true,
                },
                { width: 150, targets: 0 },
                { width: 300, targets: 1 },
                { width: 150, targets: 2 },
                { width: 300, targets: 3 },
                { width: 100, targets: 6 },
                { width: 250, targets: 7 },
            ],
        });
    });
</script>
