{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ 'menu.players'|trans }}{% endblock %}

{% block body %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                'container': 'body',
                'placement': 'top'
            })
        })
    </script>

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="row">
            <div class="col-12">
                <div class="form-check float-end">
                    <input class="form-check-input" type="checkbox" value="" id="show_all" {% if showAll %} checked{% endif %}>
                    <label class="form-check-label" for="show_all">{{ 'data.show_all'|trans }}</label>
                </div>
            </div>
        </div>

        <div style="display: flex; overflow-x: auto">
            <table class="table table-responsive-sm table-hover">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">{{ 'data.wins'|trans }}</th>
                        <th scope="col">{{ 'data.losses'|trans }}</th>
                        <th scope="col">{{ 'data.winrate'|trans }}</th>
                        <th scope="col">{{ 'data.games_played'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td style="white-space: nowrap;">
                            <a href="{{ path('keyforge_user_detail', {'userId': user.id}) }}">{{ user.name }}</a>
                        </td>
                        <td>{{ user.wins }}</td>
                        <td>{{ user.losses }}</td>
                        <td>{{ user.win_rate|round(2) }}%</td>
                        <td>{{ user.games_played }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        const checkbox = $('#show_all');

        checkbox.change(function(event) {
            const checkbox = event.target;

            if (checkbox.checked) {
                window.location.href += "?showAll";
            } else {
                window.location.href = window.location.href.split('?')[0] ;
            }
        });
    </script>
{% endblock %}
