{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ 'menu.games'|trans }}{% endblock %}

{% block body %}
    {% if username is not null %}

    <div class="shadow-lg p-3 mb-1 bg-white rounded">
        <div class="divider py-2"></div>

        {% if username is not null %}
        <div class="row">
            <div class="col-10 d-flex justify-content-start"><h2>{{ username }}</h2></div>
        </div>
        {% endif %}

        <div class="divider py-2"></div>

        <div class="row">
        {% for competition,wr in wr_by_competition %}
            <div class="col-12 col-sm-6 col-md-4">
                <canvas id="wr_by_competition_{{ competition }}" class="deck_stats_comparison"></canvas>
            </div>
        {% endfor %}
        </div>
    </div>
    <div class="p-3 mb-1 w-100">
        <div class="row">
            {% if deck_stats is not null and deck_stats.best_win_ratio_deck_id is defined %}
                <a class="btn btn-dark border col-12 col-sm-6 col-lg-4" href="{{ path('keyforge_deck_detail', {'deckId': deck_stats.best_win_ratio_deck_id}) }}" target="_blank">
                    <h5>{{ 'menu.best_wr'|trans }}</h5>
                    <p>{{ deck_stats.best_win_ratio_deck }}</p>
                    <p>{{ (deck_stats.best_win_ratio_deck_value * 100)|round(2) }}%</p>
                </a>
            {% endif %}

            {% if deck_stats is not null and deck_stats.most_played_deck_id is defined %}
                <a class="btn btn-dark border col-12 col-sm-6 col-lg-4" href="{{ path('keyforge_deck_detail', {'deckId': deck_stats.most_played_deck_id}) }}" target="_blank">
                    <h5>{{ 'menu.most_played'|trans }}</h5>
                    <p>{{ deck_stats.most_played_deck }}</p>
                    <p>{{ 'menu.played_times'|trans({'%count%': deck_stats.most_played_deck_games}) }}</p>
                </a>
            {% endif %}

            {% if deck_stats is not null and deck_stats.highest_sas_deck_id is defined %}
                <a class="btn btn-dark border col-12 col-sm-6 col-lg-4" href="{{ path('keyforge_deck_detail', {'deckId': deck_stats.highest_sas_deck_id}) }}" target="_blank">
                    <h5>{{ 'menu.highest_sas'|trans }}</h5>
                    <p>{{ deck_stats.highest_sas_deck }}</p>
                    <p>{{ deck_stats.highest_sas_deck_value ~ ' ' ~ 'deck.sas'|trans }}</p>
                </a>
            {% endif %}
        </div>
    </div>
    {% endif %}

    {% if competition_wins|length > 0 %}
        <div class="btn btn-dark border w-100">
            <h5>{{ 'menu.record_book'|trans }}</h5>

            <div class="row">
                {% for win in competition_wins %}
                    <div class="col-12 col-sm-4 col-md-3 col-xl-2">
                        <a class="text-decoration-none" href="/competitions/{{ win.id }}" style="color: white">
                            <div class="row"><i class="bi bi-trophy" style="font-size: 3em;"></i></div>
                            <div class="row"><span>{{ win.name }}</span></div>
                            <div class="row"><span>{{ win.finishedAt|date('Y-m-d') }}</span></div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class="divider py-2"></div>

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        {% include 'Keyforge/Game/List/game_list.html.twig' with {
            'deck_reference': null,
            'user_reference': reference,
            'reference': reference,
            'reference_type': 'winner',
            'friends': indexed_friends,
        } %}
    </div>

    <script>
        {% for competition,data in wr_by_competition %}
            graph('wr_by_competition_{{ competition }}', '{{ ('game.'~competition|lower)|trans }}', JSON.parse('{{ data|json_encode|raw }}'))
        {% endfor %}

        function graph(id, title, data) {
            new Chart(document.getElementById(id).getContext('2d'), {
                type: 'doughnut',
                data: {
                    labels: ['W', 'L'],
                    datasets: [
                        {
                            data: [data.total_wins, data.total_losses],
                            borderColor: ['rgb(105,202,26)', 'rgb(221,0,0)'],
                            backgroundColor: ['rgb(105,202,26)', 'rgb(221,0,0)'],
                        },
                    ]
                },
                options: {
                    responsive: true,
                    aspectRatio: 2,
                    plugins: {
                        legend: {
                            display: false,
                            position: 'bottom',
                        },
                        title: {
                            display: true,
                            text: title,
                        }
                    }
                },
            });
        }
    </script>
{% endblock %}
