{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ 'menu.settings'|trans }}{% endblock %}

{% block body %}
    <div class="divider py-1"></div>

    <div class="row">
        <div class="col-1 col-sm-4 col-lg-3"></div>
        <div class="col-12 col-sm-12 col-lg-6">

            {% if error %}
                <div class="divider py-1"></div>
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}

            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div class="row">
                    <h3>{{ 'menu.friends'|trans }}</h3>
                </div>

                <ul class="list-group mt-3">
                    {% for friend in friends %}
                        <li class="list-group-item">
                            <a href="{{ path('keyforge_user_detail', {'userId': friend.friend_id}) }}">{{ friend.name }}</a>
                            <button type="button" class="btn btn-outline-danger removeFriend" data-friend="{{ friend.friend_id }}" style="float: right;"><i class="bi bi-trash" style="pointer-events: none;"></i></button>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <div class="row">
                    <h3>{{ 'menu.add_friends'|trans }}</h3>
                </div>

                <form action="{{ path('user_friends') }}" method="post">
                    <input type="text" name="friendName" class="form-control" placeholder="{{ 'menu.friend_name'|trans }}">
                    <button type="submit" class="btn btn-block btn-dark mt-2" style="width: 100%">{{ 'menu.add'|trans }}</button>
                </form>

            </div>
        </div>
    </div>
    <script>
        $(".removeFriend").click(function(event) {
            $.ajax({
                type: 'DELETE',
                url: '{{ path('user_friends') }}',
                data: {
                    'friendId': $(event.target).data('friend'),
                },
            }).done(function( ) {
                location.reload();
            }).fail(function() {
                alert('Error');
            });
        });
    </script>
{% endblock %}
