<!DOCTYPE html>
<html lang="en">
    <head>
        {# Favicon #}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icons/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('icons/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('icons/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('icons/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('icons/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <nav class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="/keyforge">
                        <img src="{{ asset('icons/icon_white_32.png') }}" width="30" height="30" class="d-inline-block align-top" alt="">
                        Keyforge
                    </a>
                </nav>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/keyforge/users">Users<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/keyforge/decks">Decks<span class="sr-only"></span></a>
                        </li>

                        {% if is_granted('ROLE_KEYFORGE') %}
                        <li class="nav-item">
                            <a class="nav-link" href="/keyforge/my-decks">My Decks<span class="sr-only"></span></a>
                        </li>
                        {% endif %}

                        <li class="nav-item">
                            <a class="nav-link" href="/keyforge/games/add">Register games<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/keyforge/decks/import">Import deck<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/keyforge/wiki">Wiki<span class="sr-only"></span></a>
                        </li>
                    </ul>

                    {% if is_granted('ROLE_BASIC') %}
                        <div class="my-lg-0">
                            <ul class="navbar-nav me-auto mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/logout">Logout<span class="sr-only"></span></a>
                                </li>
                            </ul>
                        </div>
                    {% else %}
                        <div class="my-lg-0">
                            <ul class="navbar-nav me-auto mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link" href="/register">Register<span class="sr-only"></span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Login<span class="sr-only"></span></a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="divider py-2"></div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>

        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% block body_without_container %}{% endblock %}
    </body>
</html>
