{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}Analizador{% endblock %}

{% block body %}
    <div class="divider py-1"></div>
        {% if loaded == false %}
            <form action="{{ path('keyforge_deck_analyze') }}" method="post">
                <div class="row">
                    <div class="col-1 col-sm-4 col-lg-3"></div>
                    <div class="col-12 col-sm-12 col-lg-6">
                        <div class="shadow-lg p-3 mb-5 bg-white rounded">
                            <input type="text" class="form-control" id="deck" name="deck" placeholder="Id de baraja, link de dok o vault" required>

                            <div class="divider py-2"></div>

                            <button type="submit" class="col-4 btn btn-block btn-dark w-100">Analizar</button>
                        </div>
                    </div>
                </div>
            </form>
        {% else %}
            {% include 'Keyforge/Deck/Detail/deck.html.twig' %}

            <div class="shadow-lg p-3 mb-5 bg-white rounded col-12">
                <div class="row">
                    <a href="https://decksofkeyforge.com/decks/{{ deck_id }}">{{ deck_name }} SAS: {{ deck_sas }}</a>
                </div>

                <div class="divider py-1"></div>
                <div class="divider py-1"></div>
                <div class="divider py-1"></div>
                <div class="divider py-1"></div>

                <div class="row">
                    {% for key,value in detail %}
                        <div class="row">
                            <div class="col-12">
                                <h6>{{ key }}</h6>
                                <ul class="list-group">
                                    {% for infoKey,info in value %}
                                        <li class="list-group-item">{{ infoKey }}
                                        <ul class="list-group">
                                            {% for card in info %}
                                                <li class="list-group-item"><span class="card_name" data-bs-toggle="modal" data-bs-target="#card_image" data-card="{{ card.name }}" data-card-serialized="{{ card.serializedName }}">{{ card.name }}</span></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                                <div class="divider py-1"></div>
                                <div class="divider py-1"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="modal fade" id="card_image" tabindex="-1" role="dialog" aria-labelledby="card_image" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalCardImage"></h5>
                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <img id="card_image_render" src="">
                        </div>
                    </div>
                </div>
            </div>

            <script>
                $('#card_image').on('show.bs.modal', function (event) {
                    const button = $(event.relatedTarget)[0];

                    const card = button.getAttribute('data-card');
                    const cardSerialized = button.getAttribute('data-card-serialized');

                    $('#modalCardImage')[0].innerText = card;
                    $('#card_image_render')[0].src = 'https://keyforge-card-images.s3-us-west-2.amazonaws.com/card-imgs/' + cardSerialized + '.png';
                });
            </script>
    {% endif %}
{% endblock %}
