{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ 'menu.wiki'|trans }}{% endblock %}

{% block header %}
    <style>
        #tableHousesBySet td, #tableHousesBySet th {
            text-align: center;
            vertical-align: middle;
        }

        #tableTagCriteria td, #tableTagCriteria th {
            text-align: left;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="divider py-1"></div>

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="list-group">
            <h4>{{ 'menu.wiki'|trans }}</h4>

            <div class="divider py-1"></div>

            <a href="https://thecrucible.online/" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.the_crucible_online'|trans }}</a>
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#divTableHousesBySet">{{ 'wiki.houses_per_set'|trans }}</a>
            <div class="collapse" id="divTableHousesBySet" style="overflow-x: auto">
                <table class="table" id="tableHousesBySet">
                    <tr>
                        <th></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/BROBNAR.png') }}" alt="BROBNAR"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/DIS.png') }}" alt="DIS"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/LOGOS.png') }}" alt="LOGOS"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/MARS.png') }}" alt="MARS"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/SANCTUM.png') }}" alt="SANCTUM"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/REDEMPTION.png') }}" alt="REDEMPTION"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/SAURIAN.png') }}" alt="SAURIAN"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/SHADOWS.png') }}" alt="SHADOWS"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/STAR_ALLIANCE.png') }}" alt="STAR_ALLIANCE"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/UNFATHOMABLE.png') }}" alt="UNFATHOMABLE"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/UNTAMED.png') }}" alt="UNTAMED"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/EKWIDON.png') }}" alt="EKWIDON"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/GEISTOID.png') }}" alt="GEISTOID"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/SKYBORN.png') }}" alt="SKYBORN"/></th>
                    </tr>
                    <tbody>
                    {% for set,houses in housesPerSet %}
                        <tr>
                            <td style="text-align: right;">{{ ('set.full.'~set)|trans }}</td>
                            {% for house,isPresent in houses %}
                                {% if isPresent %}
                                    <td><i class="bi bi-check"></i></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <a href="https://archonarcana.com/Main_Page" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.wiki_aa'|trans }}</a>
            <a href="https://archonarcana.com/Errata" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.erratum'|trans }}</a>
            <a href="https://archonarcana.com/Revised_Cards" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.revised_cards'|trans }}</a>
            <a href="https://archonarcana.com/Rulebooks" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.rulebooks'|trans }}</a>
            <a href="https://archonarcana.com/Rules" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.rules_summary_en'|trans }}</a>
            <a href="https://archonarcana.com/Timing_Chart" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.timing_chart'|trans }}</a>
            <a href="https://archonarcana.com/Tournament_Concepts" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.tournament_rules'|trans }}</a>
            <a href="https://sites.google.com/view/keyforgeadventures" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.adventures'|trans }}</a>
            <a href="https://keyforgespain.com/" target="_blank" class="list-group-item list-group-item-action">Keyforge Spain</a>
            <a href="https://nkfl.online/" target="_blank" class="list-group-item list-group-item-action">Nordic Keyforge League</a>
            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#divTableTagCriteria">{{ 'wiki.tag_assignation_criteria'|trans }}</a>

            <div class="collapse" id="divTableTagCriteria" style="overflow-x: auto">
                <table class="table" id="tableTagCriteria">
                    <tr>
                        <th>{{ 'wiki.tag'|trans }}</th>
                        <th>{{ 'wiki.criteria'|trans }}</th>
                        <th></th>
                    </tr>
                    <tbody>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_expected_amber_high'|trans }}</td>
                        <td>{{ 'wiki.score_greater_or_equal_than'|trans({'%score%': 25}) }}</td>
                        <td>{{ 'wiki.tag_criteria.high_expected_amber'|trans }}</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_expected_amber_low'|trans }}</td>
                        <td>{{ 'wiki.score_lower_than'|trans({'%score%': 10}) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_amber_pip_count_high'|trans }}</td>
                        <td>{{ 'wiki.count_greater_or_equal_than'|trans({'%count%': 15}) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_amber_pip_count_low'|trans }}</td>
                        <td>{{ 'wiki.count_lower_or_equal_than'|trans({'%count%': 5}) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_effective_power_high'|trans }}</td>
                        <td>{{ 'wiki.score_greater_or_equal_than'|trans({'%score%': 110}) }}</td>
                        <td>{{ 'wiki.tag_criteria.high_effective_power'|trans }}</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_efficiency_high'|trans }}</td>
                        <td>{{ 'wiki.score_greater_or_equal_than'|trans({'%score%': 15}) }}</td>
                        <td>{{ 'wiki.tag_criteria.high_efficiency'|trans }}</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_efficiency_low'|trans }}</td>
                        <td>{{ 'wiki.score_lower_than'|trans({'%score%': -1}) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_artifact_count_high'|trans }}</td>
                        <td>{{ 'wiki.count_greater_or_equal_than'|trans({'%count%': 6}) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_action_count_high'|trans }}</td>
                        <td>{{ 'wiki.count_greater_or_equal_than'|trans({'%count%': 18}) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_creatures_count_high'|trans }}</td>
                        <td>{{ 'wiki.count_greater_or_equal_than'|trans({'%count%': 22}) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_upgrades_count_high'|trans }}</td>
                        <td>{{ 'wiki.count_greater_or_equal_than'|trans({'%count%': 9}) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_archives_high'|trans }}</td>
                        <td>{{ 'wiki.count_greater_or_equal_than'|trans({'%count%': 6}) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_amber_control_high'|trans }}</td>
                        <td>{{ 'wiki.score_greater_or_equal_than'|trans({'%score%': 15}) }}</td>
                        <td>{{ 'wiki.tag_criteria.high_amber_control'|trans }}</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_amber_control_low'|trans }}</td>
                        <td>{{ 'wiki.score_lower_than'|trans({'%score%': 2}) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_creature_control_high'|trans }}</td>
                        <td>{{ 'wiki.score_greater_or_equal_than'|trans({'%score%': 15}) }}</td>
                        <td>{{ 'wiki.tag_criteria.high_creature_control'|trans }}</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_creature_control_low'|trans }}</td>
                        <td>{{ 'wiki.score_lower_than'|trans({'%score%': 4}) }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_artifact_control_high'|trans }}</td>
                        <td>{{ 'wiki.score_greater_or_equal_than'|trans({'%score%': 2}) }}</td>
                        <td>{{ 'wiki.tag_criteria.high_artifact_control'|trans }}</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_artifact_control_low'|trans }}</td>
                        <td>{{ 'wiki.score_equal'|trans({'%score%': 0})}}</td>
                        <td>{{ 'wiki.tag_criteria.no_artifact_control'|trans }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_creature_protection_high'|trans }}</td>
                        <td>{{ 'wiki.score_greater_or_equal_than'|trans({'%score%': 6}) }}</td>
                        <td>{{ 'wiki.tag_criteria.creature_protection'|trans }}</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.recursion_high'|trans }}</td>
                        <td>{{ 'wiki.score_greater_or_equal_than'|trans({'%score%': 6}) }}</td>
                        <td>{{ 'wiki.tag_criteria.has_recursion'|trans }}</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.disruption_high'|trans }}</td>
                        <td>{{ 'wiki.score_greater_or_equal_than'|trans({'%score%': 9}) }}</td>
                        <td>{{ 'wiki.tag_criteria.has_disruption'|trans }}</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_has_scaling_amber_control'|trans }}</td>
                        <td>{{ 'wiki.tag_criteria.has_scaling_amber'|trans }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_has_board_wipes'|trans }}</td>
                        <td>{{ 'wiki.tag_criteria.has_board_wipes'|trans }}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_synergistic'|trans }}</td>
                        <td>{{ 'wiki.score_greater_or_equal_than'|trans({'%score%': 15}) }}</td>
                        <td>{{ 'wiki.tag_criteria.synergistic'|trans }}</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_antisynergistic'|trans }}</td>
                        <td>{{ 'wiki.score_lower_than'|trans({'%score%': -2}) }}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
