{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ 'menu.wiki'|trans }}{% endblock %}

{% block header %}
    <style>
        #tableHousesBySet td, #tableHousesBySet th {
            text-align: center;
            vertical-align: middle;
        }

        #tableTagCriteria td, #tableTagCriteria th {
            text-align: left;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="divider py-1"></div>

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="list-group">
            <h4>{{ 'menu.wiki'|trans }}</h4>

            <div class="divider py-1"></div>

            <a href="https://thecrucible.online/" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.the_crucible_online'|trans }}</a>
            <a href="https://archonarcana.com/Main_Page" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.wiki_aa'|trans }}</a>
            <a href="https://archonarcana.com/Errata" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.erratum'|trans }}</a>
            <a href="https://archonarcana.com/Revised_Cards" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.revised_cards'|trans }}</a>
            <a href="https://archonarcana.com/Rules" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.rules_summary_en'|trans }}</a>
            <a href="{{ asset('assets/keyforge/doc/rules_es.pdf') }}" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.rulebook_es'|trans }}</a>
            <a href="https://keyforging.com/wp-content/uploads/2023/04/KeyForge_Rulebook_v17_18Apr2023.pdf" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.rulebook_en'|trans }}</a>
            <a href="https://archonarcana.com/Timing_Chart" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.timing_chart'|trans }}</a>
            <a href="https://archonarcana.com/Tournament_Concepts" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.tournament_rules'|trans }}</a>
            <a href="https://sites.google.com/view/keyforgeadventures" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.adventures'|trans }}</a>
            <a href="https://nkfl.online/" target="_blank" class="list-group-item list-group-item-action">{{ 'wiki.nkfl_community'|trans }}</a>

            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#divTableHousesBySet">{{ 'wiki.houses_per_set'|trans }}</a>

            <div class="collapse" id="divTableHousesBySet" style="overflow-x: auto">
                <table class="table" id="tableHousesBySet">
                    <tr>
                        <th></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/BROBNAR.png') }}" alt="BROBNAR"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/DIS.png') }}" alt="DIS"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/LOGOS.png') }}" alt="LOGOS"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/MARS.png') }}" alt="MARS"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/SANCTUM.png') }}" alt="SANCTUM"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/SAURIAN.png') }}" alt="SAURIAN"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/SHADOWS.png') }}" alt="SHADOWS"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/STAR_ALLIANCE.png') }}" alt="STAR_ALLIANCE"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/UNFATHOMABLE.png') }}" alt="UNFATHOMABLE"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/UNTAMED.png') }}" alt="UNTAMED"/></th>
                        <th><img width="35px" src="{{ asset('assets/keyforge/houses/EKWIDON.png') }}" alt="EKWIDON"/></th>
                    </tr>
                    <tbody>
                        <tr>
                            <td style="text-align: right;">Call of the Archons</td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Age of Ascension</td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Worlds Collide</td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Mass Mutation</td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Dark Tidings</td>
                            <td></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Winds of Exchange</td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td></td>
                            <td><i class="bi bi-check"></i></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Unchained 2022</td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                        </tr>
                        <tr>
                            <td style="text-align: right;">Vault Masters 2023</td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                            <td><i class="bi bi-check"></i></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <a class="list-group-item list-group-item-action" data-bs-toggle="collapse" data-bs-target="#divTableTagCriteria">{{ 'wiki.tag_assignation_criteria'|trans }}</a>

            <div class="collapse" id="divTableTagCriteria" style="overflow-x: auto">
                <table class="table" id="tableTagCriteria">
                    <tr>
                        <th>{{ 'wiki.tag'|trans }}</th>
                        <th>{{ 'wiki.criteria'|trans }}</th>
                        <th></th>
                    </tr>
                    <tbody>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_expected_amber_high'|trans }}</td>
                        <td>Puntuación de expectedAmber mayor o igual a 25</td>
                        <td>Cuanto ambar puedes esperar generar. No tiene en cuenta el cosechado de criaturas a no ser que tengan habilidades especiales como "Cosecha: Gana 1 Amber". El ambar base de algunas cartas dificiles de jugar se ha reducido, y se ha incrementado para otras cartas que permiten el uso inmediato de criaturas.</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_expected_amber_low'|trans }}</td>
                        <td>Puntuación de expectedAmber menor o igual a 5</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_amber_pip_count_high'|trans }}</td>
                        <td>Tiene 15 o más iconos de ámbar impresos en sus cartas</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_amber_pip_count_low'|trans }}</td>
                        <td>Tiene 5 o menos pimpollos de ámbar impresos en sus cartas</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_effective_power_high'|trans }}</td>
                        <td style="white-space: nowrap;">Poder efectivo mayor o igual a 110</td>
                        <td>Poder real usable de las criaturas de la baraja. Para criaturas que muchas veces no pueden ser jugadas o usadas se reduce. El poder efectivo tambien tiene en cuenta armadura y otras habilidades que afectan a la supervivencia como elusivo, escaramuza, dañino, asalto y curaciones</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_efficiency_high'|trans }}</td>
                        <td>Eficiencia mayor o igual a 15</td>
                        <td>Mide los efectos que te permiten jugar cartas extra. Se reduce por cartas que impiden jugar o robar cartas, como cartas que dan cadenas o Bad Penny</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_efficiency_low'|trans }}</td>
                        <td>Eficiencia menor o igual a -1</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_artifact_count_high'|trans }}</td>
                        <td>Tiene 6 o más artefactos</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_action_count_high'|trans }}</td>
                        <td>Tiene 18 o más acciones</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_creatures_count_high'|trans }}</td>
                        <td>Tiene 22 o más criaturas</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_upgrades_count_high'|trans }}</td>
                        <td>Tiene 9 o más mejoras</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_archives_high'|trans }}</td>
                        <td>Tiene 6 o más cartas que archivan</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_amber_control_high'|trans }}</td>
                        <td>Puntuación de 15 o más</td>
                        <td>Representa la camtidad de ámbar que la baraja puede denegar a su oponente. El ámbar perdido o robado tiene mas valor que el capturado y los incrementos de coste de llave.</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_amber_control_low'|trans }}</td>
                        <td>Puntuación de 2 o menos</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_creature_control_high'|trans }}</td>
                        <td>Puntuacion de 15 o más</td>
                        <td>Representa cartas que hacen daño, destruyen o inhabilitan criaturas enemigas.</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_creature_control_low'|trans }}</td>
                        <td>Puntuacion menor a 4</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_artifact_control_high'|trans }}</td>
                        <td>Puntuación de 2 o más</td>
                        <td>Representa la destrucción de artefactos enemigos o el poder denegar su uso</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_artifact_control_low'|trans }}</td>
                        <td>Puntuación de 0, no tiene forma de destruir o denegar el uso de artefactos</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_creature_protection_high'|trans }}</td>
                        <td>Puntuacion de 6 o más</td>
                        <td>Incluye cualquier carta con efectos que incrementan poder, protegen de luchas, daño o eliminación.</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.recursion_high'|trans }}</td>
                        <td>Puntuacion de 6 o más</td>
                        <td>Efectos que permiten jugar cartas que ya han sido jugadas.</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.disruption_high'|trans }}</td>
                        <td>Puntuacion de 9 o más</td>
                        <td>Efectos que reducen el numero de cartas que tu oponente puede jugar.</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_has_scaling_amber_control'|trans }}</td>
                        <td>Tiene cartas permiten denegar más ámbar cuanto más tiene el rival</td>
                        <td>Cartas consideradas: Burn the Stockpile, Effervescent Principle, Too Much to Protect, Interdimensional Graft, Shatter Storm, Doorstep to Heaven, Deusillus, Rant and Rive, Closed-Door Negotiation, Martyr of the Vault</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_has_board_wipes'|trans }}</td>
                        <td>Tiene cartas capacez de limpia el tablero de criaturas en mayor o menor medida</td>
                        <td>Cartas consideradas: Æmberlution, Ammonia Clouds, Axiom of Grist, Ballcano, Champion’s Challenge, Coward’s End, Crushing Charge, Earthshaker, Gateway to Dis, General Sherman, Grand Alliance Council, Groundbreaking Discovery, Harbinger of Doom, Key to Dis, Kiligog's Trench, Krrrzzzaaap, Mind Bullets, Mælstrom, Numquid the Fair, Onyx Knight, Opal Knight, Ragnarok, Red Alert, Savage Clash, Skixuno, Spartasaur, Strange Gizmo, The Big One, The Spirit’s Way, Unlocked Gateway, Unnatural Selection, Hebe the Huge, Market Crash, Mass Buyout, Extinction, Kaboom!, Tectonic Shift, General Order 24, Quintrino Warp, Election, Kiligog’s Trench, Catch and Release, Adult Swim</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_synergistic'|trans }}</td>
                        <td>Puntuacion de 15 o más</td>
                        <td>Aproximación de la calidad de una baraja, puede ayudar a detectar sinérgias y antisinérgias.</td>
                    </tr>
                    <tr>
                        <td style="white-space: nowrap;">{{ 'wiki.tag_antisynergistic'|trans }}</td>
                        <td>Menor o igual a -2</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
