{% block header %}
    <style>
        .tooltip.show {
            opacity: 1;
        }

        .card_name {
            display: inline-block;
            text-overflow: ellipsis;
            overflow:hidden;
            white-space:nowrap;
            margin-left: 5px;
            vertical-align: middle;
            font-size: 1.2em;
            min-width: 0;
        }

        @media (min-width: 501px) {
            .card_name {
                max-width: 300px;
            }
        }

        @media (max-width: 500px) {
            .card_name {
                max-width: 150px;
            }
        }

        @media (max-width: 450px) {
            .card_name {
                max-width: 100px;
            }
        }

        @media (max-width: 400px) {
            .card_name {
                max-width: 80px;
            }
        }

        @media (max-width: 280px) {
            .card_name {
                max-width: 60px;
            }
        }

        @media (max-width: 255px) {
            .card_name {
                max-width: 40px;
            }
        }
    </style>
{% endblock %}
<div class="shadow-lg p-3 mb-3 bg-white rounded">
    <div class="row">
        <div class="col-12 col-md-11">
            <h2>{{ deck.name }}</h2>
        </div>
        <div class="d-flex col-12 col-md-1 justify-content-end">
            <h2 style="margin-top: 5px; white-space: nowrap;" data-toggle="tooltip" title="{{ deck.stats.aercScore }}+{{ deck.stats.synergyRating }}-{{ deck.stats.antiSynergyRating }}">{{ deck.stats.sas }}</h2>
            <img style="margin-bottom: 15px" width="40px" src="/assets/keyforge/sets/{{ deck.set }}.svg" alt="{{ deck.set }}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-lg-4" style="margin-top: 10px">
                    <img width="33px" src="/assets/keyforge/houses/{{ deck.houses.0 }}.png" alt="{{ deck.houses.0 }}"/><span style="font-size: 1.5em; vertical-align: middle; margin-left: 4px">{{ deck.houses.0 }}</span>
                    <div class="row">
                        {% if deck.type == 'ALLIANCE' %}
                            <div class="col-6 col-lg-12">
                                <a href="{{ path('keyforge_deck_detail', {'deckId': deck.alliance_composition.0.keyforgeId}) }}">{{ deck.alliance_composition.0.name }}</a>
                            </div>
                        {% endif %}
                        {% for card in deck.cards.firstPodCards %}
                            <div class="col-6 col-lg-12">
                                <img width="18px" src="/assets/keyforge/rarities/{{ card.rarity }}.svg" alt="{{ card.rarity }}" class="img-fluid"/>
                                <span class="card_name" data-bs-toggle="modal" data-bs-target="#card_image" data-card="{{ card.name }}" data-card-serialized="{{ card.serializedName }}">{{ card.name }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-12 col-lg-4" style="margin-top: 10px">
                    <img width="33px" src="/assets/keyforge/houses/{{ deck.houses.1 }}.png" alt="{{ deck.houses.1 }}"/><span style="font-size: 1.5em; vertical-align: middle; margin-left: 4px">{{ deck.houses.1 }}</span>
                    <div class="row">
                        {% if deck.type == 'ALLIANCE' %}
                            <div class="col-6 col-lg-12">
                                <a href="{{ path('keyforge_deck_detail', {'deckId': deck.alliance_composition.1.keyforgeId}) }}">{{ deck.alliance_composition.1.name }}</a>
                            </div>
                        {% endif %}
                        {% for card in deck.cards.secondPodCards %}
                            <div class="col-6 col-lg-12" style="display: block">
                                <img width="18px" src="/assets/keyforge/rarities/{{ card.rarity }}.svg" alt="{{ card.rarity }}" class="img-fluid"/>
                                <span class="card_name" data-bs-toggle="modal" data-bs-target="#card_image" data-card="{{ card.name }}" data-card-serialized="{{ card.serializedName }}">{{ card.name }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-12 col-lg-4" style="margin-top: 10px">
                    <img width="33px" src="/assets/keyforge/houses/{{ deck.houses.2 }}.png" alt="{{ deck.houses.2 }}"/><span style="font-size: 1.5em; vertical-align: middle; margin-left: 4px">{{ deck.houses.2 }}</span>
                    <div class="row">
                        {% if deck.type == 'ALLIANCE' %}
                            <div class="col-6 col-lg-12">
                                <a href="{{ path('keyforge_deck_detail', {'deckId': deck.alliance_composition.2.keyforgeId}) }}">{{ deck.alliance_composition.2.name }}</a>
                            </div>
                        {% endif %}
                        {% for card in deck.cards.thirdPodCards %}
                            <div class="col-6 col-lg-12">
                                <img width="18px" src="/assets/keyforge/rarities/{{ card.rarity }}.svg" alt="{{ card.rarity }}" class="img-fluid"/>
                                <span class="card_name" data-bs-toggle="modal" data-bs-target="#card_image" data-card="{{ card.name }}" data-card-serialized="{{ card.serializedName }}">{{ card.name }}</span>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        <div class="divider py-2"></div>

        {% for extraCard in deck.cards.extraCards %}
            <div>
                <h3>{{ ('deck.'~extraCard.type)|trans }}</h3>
                <span class="card_name" data-bs-toggle="modal" data-bs-target="#card_image" data-card="{{ extraCard.name }}" data-card-serialized="{{ extraCard.serializedName }}">{{ extraCard.name }}</span>
            </div>

            <div class="divider py-2"></div>
        {% endfor %}
    </div>

    {% if is_granted('ROLE_KEYFORGE') %}
        {% if deck_notes is not null %}
            <div class="divider py-1"></div>
            <textarea class="form-control" name="notes" id="deckNotesInputDisabled" rows="8" maxlength="512" disabled>{{ deck_notes }}</textarea>
            <div class="divider py-1"></div>
        {% endif %}
    {% endif %}

    <div class="d-flex flex-row-reverse">

        {% if deck.type == 'STANDARD' %}
            <a href="https://archonarcana.com/Deck:{{ reference }}" target="_blank"><img class="img-thumbnail" width="50px" style="min-width: 40px" src="{{ asset('assets/keyforge/logos/wiki.jpg') }}" alt="Wiki"/></a>
            <a href="https://decksofkeyforge.com/decks/{{ reference }}" target="_blank"><img class="img-thumbnail" width="40px" style="min-width: 40px" src="{{ asset('assets/keyforge/logos/dok.svg') }}" alt="DoK"/></a>
            <a href="https://keyforgegame.com/deck-details/{{ reference }}" target="_blank"><img class="img-thumbnail" width="50px" style="min-width: 50px" src="{{ asset('assets/keyforge/logos/vault.png') }}" alt="Vault"/></a>
        {% endif %}

        {% if deck.type == 'ALLIANCE' %}
            <a href="https://decksofkeyforge.com/alliance-decks/{{ reference }}" target="_blank"><img class="img-thumbnail" width="40px" style="min-width: 40px" src="{{ asset('assets/keyforge/logos/dok.svg') }}" alt="DoK"/></a>
        {% endif %}

        {% if deck.type == 'THEORETICAL' %}
            <a href="https://decksofkeyforge.com/theoretical-decks/{{ reference }}" target="_blank"><img class="img-thumbnail" width="40px" style="min-width: 40px" src="{{ asset('assets/keyforge/logos/dok.svg') }}" alt="DoK"/></a>
        {% endif %}

        {% if is_granted('ROLE_KEYFORGE') %}
            {% if app.user.id.value in owners %}
                <button type="button" id="deck_remove_my_deck" class="btn btn-dark btn-sm m-1" data-deck-id="{{ deck.id }}">{{ 'menu.remove_my_deck'|trans }}</button>
            {% else %}
                <button type="button" id="deck_add_my_deck" class="btn btn-dark btn-sm m-1" data-deck-id="{{ deck.id }}">{{ 'menu.add_my_deck'|trans }}</button>
            {% endif %}
            {% if deck_notes is not null %}
                <button type="button" class="btn btn-dark btn-sm ml-1" style="width: 39px; height: 49px" data-bs-toggle="modal" data-bs-target="#deckUpdateNotes" data-deck-id="{{ deck.id }}"><i class="bi bi-pencil"></i></button>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="modal fade" id="deckUpdateNotes" tabindex="-1" role="dialog" aria-labelledby="deckUpdateNotes" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelaTitleLabel">{{ 'deck.notes'|trans }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateDeckNotesForm">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <textarea class="form-control" name="notes" id="deckNotesInput" rows="8" maxlength="512">{{ deck_notes }}</textarea>
                        </div>
                    </div>

                    <div>
                        <input type="hidden" id="hiddenDeckId" value="">
                    </div>

                    <div class="divider py-1"></div>

                    <button type="submit" id="updateNotesSubmit" class="btn btn-block btn-dark" style="width: 100%">{{ 'deck.save'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const modal = $('#deckUpdateNotes');

    modal.on('hidden.bs.modal', function () {
        $(this).find('form').trigger('reset');
    });

    modal.on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        $('#hiddenDeckId')[0].value = button.data('deck-id');
    });

    modal.on('hidden.bs.modal', function () {
        $(this).find('form').trigger('reset');
    });

    $('#updateDeckNotesForm').submit(function (e) {
        e.preventDefault();

        let deckId = $('#hiddenDeckId')[0].value;
        let notes = $('#deckNotesInput')[0].value;

        $.post({
            url: '{{ path('keyforge_deck_update_notes') }}',
            method: 'POST',
            data: {
                'deckId': deckId,
                'notes': notes,
            },
        }).done(function() {
            $('#deckNotesInput')[0].innerHTML = notes;
            $('#deckNotesInputDisabled')[0].innerHTML = notes;
            modal.modal('hide');
        });
    });

    $('#deck_add_my_deck').click(function (e) {
        e.preventDefault();

        url = '{{ path('keyforge_ownership_update', {'id': '-id-'}) }}'
        url = url.replace('-id-', e.target.getAttribute('data-deck-id'));

        $.post({
            url: url,
            method: 'POST',
        }).done(function( ) {
            location.reload();
        }).fail(function() {
            alert('Error');
        });
    });

    $('#deck_remove_my_deck').click(function (e) {
        e.preventDefault();

        url = '{{ path('keyforge_ownership_update', {'id': '-id-'}) }}'
        url = url.replace('-id-', e.target.getAttribute('data-deck-id'));

        $.post({
            url: url,
            method: 'DELETE',
        }).done(function( ) {
            location.reload();
        }).fail(function() {
            alert('Error');
        });
    });
</script>
