{% block header %}
    <style>
        .tooltip.show {
            opacity: 1;
        }

        .card_name {
            display: inline-block;
            text-overflow: ellipsis;
            overflow:hidden;
            white-space:nowrap;
            margin-left: 5px;
            vertical-align: middle;
            font-size: 1.2em;
            min-width: 0;
        }

        .btn-xs > .btn, .btn-xs {
            font-size  : .800rem;
            line-height  : .85;
        }

        @media (min-width: 501px) {
            .card_name {
                max-width: 300px;
            }
        }

        @media (max-width: 500px) {
            .card_name {
                max-width: 150px;
            }
        }

        @media (max-width: 450px) {
            .card_name {
                max-width: 100px;
            }
        }

        @media (max-width: 400px) {
            .card_name {
                max-width: 80px;
            }
        }

        @media (max-width: 280px) {
            .card_name {
                max-width: 60px;
            }
        }

        @media (max-width: 255px) {
            .card_name {
                max-width: 40px;
            }
        }
    </style>
{% endblock %}
<div class="shadow-lg p-3 mb-3 bg-white rounded">
    <div class="row">
        <div class="col-12 col-md-11">
            <h2>{{ deck.name }}</h2>
        </div>
        <div class="d-flex col-12 col-md-1 justify-content-end">
            <h2 style="margin-top: 5px; white-space: nowrap;" data-toggle="tooltip" title="{{ deck.stats.aercScore }}+{{ deck.stats.synergyRating }}-{{ deck.stats.antiSynergyRating }}">{{ deck.stats.sas }}</h2>
            <img style="margin-bottom: 15px" width="40px" src="/assets/keyforge/sets/{{ deck.set }}.svg" alt="{{ deck.set }}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="row">
                {% for pod in 0..2 %}
                    <div class="col-12 col-lg-4" style="margin-top: 10px">
                        <img width="33px" src="/assets/keyforge/houses/{{ deck.houses[pod] }}.png" alt="{{ deck.houses[pod] }}"/><span style="font-size: 1.5em; vertical-align: middle; margin-left: 4px">{{ deck.houses[pod] }}</span>
                        <div class="row">
                            {% if deck.type == 'ALLIANCE' %}
                                <div class="col-6 col-lg-12">
                                    <a href="{{ path('keyforge_deck_detail', {'deckId': deck.alliance_composition[pod].keyforgeId}) }}">{{ deck.alliance_composition[pod].name }}</a>
                                </div>
                            {% endif %}

                            {% set podKeys = { 0: 'firstPodCards', 1: 'secondPodCards', 2: 'thirdPodCards' } %}

                            {% for card in deck.cards[podKeys[pod]] %}
                                <div class="col-6 col-lg-12">
                                    <img width="18px" src="/assets/keyforge/rarities/{{ card.rarity }}.svg" alt="{{ card.rarity }}" class="img-fluid"/>
                                    <span class="card_name" data-bs-toggle="modal" data-bs-target="#card_image" data-card="{{ card.name }}" data-card-image="{{ card.imageUrl }}">{{ card.name }}</span>

                                    {% if card.isEnhanced %}
                                        {% set bonuses = ['aember','capture','damage','draw','discard','mars','dis','geistoid','skyborn','ekwidon','brobnar','logos'] %}

                                        {% for bonus in bonuses %}
                                            {% set bonusCount = card["bonus" ~ bonus|capitalize] %}
                                            {% if bonusCount > 0 %}
                                                {% set fileType = bonusCount is same as (true) ? 'svg' : 'png' %}

                                                {% for i in 1..bonusCount %}
                                                    <img width="18px" src="/assets/keyforge/logos/bonus/{{ bonus }}.{{ fileType }}" alt="{{ bonus }}" class="img-fluid"/>
                                                {% endfor %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="divider py-2"></div>

        {% for extraCard in deck.cards.extraCards %}
            <div>
                <h3>{{ ('deck.'~extraCard.type)|trans }}</h3>
                <span class="card_name" data-bs-toggle="modal" data-bs-target="#card_image" data-card="{{ extraCard.name }}" data-card-image="{{ extraCard.imageUrl }}">{{ extraCard.name }}</span>
            </div>

            <div class="divider py-2"></div>
        {% endfor %}

        <div>
            {% if public_tags|length > 0 %}
                <h6 style="white-space: nowrap;">{{ 'menu.tag_predefined'|trans }}</h6>
            {% endif %}

            {% for tag in public_tags %}
                <button type="button" class="btn btn-xs btn-outline-dark" data-type="{{ tag.type.value }}" data-value="{{ tag.name.jsonSerialize[app.locale] }}"
                        style="background-color: {{  tag.style.colorBg }}; color: {{ tag.style.colorText }}; border-color: {{  tag.style.colorOutline }}">{{ tag.name.jsonSerialize[app.locale] }}</button>
            {% endfor %}

            {% if is_granted('ROLE_KEYFORGE') and app.user.id.value in owners %}
                <div class="divider py-2"></div>

                <h6 style="white-space: nowrap;">{{ 'menu.tag_yours'|trans }}</h6>

                {% for tag in private_tags %}
                    <button type="button" class="btn btn-xs btn-outline-dark" data-type="{{ tag.type.value }}" data-value="{{ tag.name.jsonSerialize[app.locale] }}"
                            style="background-color: {{  tag.style.colorBg }}; color: {{ tag.style.colorText }}; border-color: {{  tag.style.colorOutline }}">{{ tag.name.jsonSerialize[app.locale] }}</button>
                {% endfor %}

                <button type="button" id="" class="btn btn-dark btn-sm m-1" data-deck-id="{{ deck.id }}" data-bs-toggle="modal" data-bs-target="#deckUserTags">{{ 'menu.add'|trans }}</button>
            {% endif %}
        </div>
    </div>

    {% if is_granted('ROLE_KEYFORGE') %}
        {% if deck_notes is not null %}
            <div class="divider py-1"></div>
            <textarea class="form-control" name="notes" id="deckNotesInputDisabled" rows="8" maxlength="512" disabled>{{ deck_notes }}</textarea>
            <div class="divider py-1"></div>
        {% endif %}
    {% endif %}

    <div class="d-flex flex-row-reverse">
        {% if deck.type == 'STANDARD' %}
            <a href="https://archonarcana.com/Deck:{{ reference }}" target="_blank"><img class="img-thumbnail" width="50px" style="min-width: 40px" src="{{ asset('assets/keyforge/logos/wiki.jpg') }}" alt="Wiki"/></a>
            <a href="https://decksofkeyforge.com/decks/{{ reference }}" target="_blank"><img class="img-thumbnail" width="40px" style="min-width: 40px" src="{{ asset('assets/keyforge/logos/dok.svg') }}" alt="DoK"/></a>
            <a href="https://keyforgegame.com/deck-details/{{ reference }}" target="_blank"><img class="img-thumbnail" width="50px" style="min-width: 50px" src="{{ asset('assets/keyforge/logos/vault.png') }}" alt="Vault"/></a>
        {% endif %}

        {% if deck.type == 'ALLIANCE' %}
            <a href="https://decksofkeyforge.com/alliance-decks/{{ reference }}" target="_blank"><img class="img-thumbnail" width="40px" style="min-width: 40px" src="{{ asset('assets/keyforge/logos/dok.svg') }}" alt="DoK"/></a>
        {% endif %}

        {% if deck.type == 'THEORETICAL' %}
            <a href="https://decksofkeyforge.com/theoretical-decks/{{ reference }}" target="_blank"><img class="img-thumbnail" width="40px" style="min-width: 40px" src="{{ asset('assets/keyforge/logos/dok.svg') }}" alt="DoK"/></a>
        {% endif %}

        {% if is_granted('ROLE_KEYFORGE') %}
            {% if app.user.id.value in owners %}
                <button type="button" id="deck_remove_my_deck" class="btn btn-dark btn-sm m-1" data-deck-id="{{ deck.id }}">{{ 'menu.remove_my_deck'|trans }}</button>
            {% else %}
                <button type="button" id="deck_add_my_deck" class="btn btn-dark btn-sm m-1" data-deck-id="{{ deck.id }}">{{ 'menu.add_my_deck'|trans }}</button>
            {% endif %}
            {% if deck_notes is not null %}
                <button type="button" class="btn btn-dark btn-sm ml-1" style="width: 39px; height: 49px" data-bs-toggle="modal" data-bs-target="#deckUpdateNotes" data-deck-id="{{ deck.id }}"><i class="bi bi-pencil"></i></button>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="modal fade" id="deckUpdateNotes" tabindex="-1" role="dialog" aria-labelledby="deckUpdateNotes" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelaTitleLabel">{{ 'deck.notes'|trans }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateDeckNotesForm">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <textarea class="form-control" name="notes" id="deckNotesInput" rows="8" maxlength="512">{{ deck_notes }}</textarea>
                        </div>
                    </div>

                    <div>
                        <input type="hidden" id="hiddenDeckId" value="">
                    </div>

                    <div class="divider py-1"></div>

                    <button type="submit" id="updateNotesSubmit" class="btn btn-block btn-dark" style="width: 100%">{{ 'deck.save'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% if is_granted('ROLE_KEYFORGE') and app.user.id.value in owners %}
<div class="modal fade" id="deckUserTags" tabindex="-1" role="dialog" aria-labelledby="deckUserTags" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelaTitleLabel">{{ 'menu.tags'|trans }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6">
                        <h5>{{ 'menu.all_your_tags'|trans }}</h5>

                        {% for tag in all_private_tags %}
                            <div class="row" style="margin-left: 10px; margin-bottom: 10px">
                                <div class="col-8">
                                    <button type="button" class="btn btn-xs btn-outline-dark" data-type="{{ tag.type.value }}" data-value="{{ tag.name.jsonSerialize[app.locale] }}" style="margin: 1px; background-color: {{  tag.style.colorBg }}; color: {{ tag.style.colorText }}; border-color: {{  tag.style.colorOutline }}">{{ tag.name.jsonSerialize[app.locale] }}</button>
                                </div>
                                <div class="col-4">
                                    <button disabled data-toggle="tooltip" title="{{ 'menu.edit'|trans }}" type="button" class="btn btn-dark editTag" data-tag="{{ tag.id }}">
                                        <i class="bi bi-pencil" style="pointer-events: none;"></i>
                                    </button>
                                    <button data-toggle="tooltip" title="{{ 'menu.remove'|trans }}" type="button" class="btn btn-dark removeTag" data-tag="{{ tag.id }}">
                                        <i class="bi bi-trash" style="pointer-events: none;"></i>
                                    </button>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="col-6">
                        <h5>{{ 'menu.create_new'|trans }}</h5>

                        <form id="createUserTags">
                            <input type="hidden" id="hiddenDeckId2" value="{{ deck.id }}">

                            <div class="row">
                                <div class="form-group">
                                    <label for="name" class="form-label">{{ 'menu.name'|trans }}</label>
                                    <input id="createTagName" class="form-control" type="text" name="name" maxlength="100" required>

                                    <div class="divider py-1"></div>
                                </div>
                            </div>

                            <div class="divider py-2"></div>

                            <div class="row">
                                <div class="col-7">
                                    <h6>{{ 'menu.colors'|trans }}</h6>

                                    <input type="color" id="colorPickerBg" name="colorBg" value="#212529">
                                    <label for="name" class="form-label">{{ 'menu.bg'|trans }}</label>
                                    <div class="divider py-1"></div>

                                    <input type="color" id="colorPickerText" name="colorText" value="#f8f9fa">
                                    <label for="name" class="form-label">{{ 'menu.text'|trans }}</label>
                                    <div class="divider py-1"></div>

                                    <input type="color" id="colorPickerOutline" name="colorOutline" value="#212529">
                                    <label for="name" class="form-label">{{ 'menu.outline'|trans }}</label>
                                </div>

                                <div class="col-4">
                                    <h6>{{ 'menu.preview'|trans }}</h6>
                                    <button id="tagPreview" type="button" class="btn btn-xs">Preview</button>
                                </div>
                            </div>
                            <div class="divider py-1"></div>

                            <div class="row">
                                <h6>{{ 'menu.presets'|trans }}</h6>
                                <div class="col-6">
                                    <button type="button" class="presetTag btn btn-sm btn-primary" data-preset="TRAIT_POSITIVE" style="width: 100%">{{ 'menu.blue'|trans }}</button>
                                    <button type="button" class="presetTag btn btn-sm btn-danger" data-preset="TRAIT_NEGATIVE" style="width: 100%">{{ 'menu.red'|trans }}</button>
                                    <button type="button" class="presetTag btn btn-sm btn-warning" data-preset="OTHER" style="width: 100%">{{ 'menu.yellow'|trans }}</button>
                                </div>
                                <div class="col-6">
                                    <button type="button" class="presetTag btn btn-sm btn-dark" data-preset="DARK" style="width: 100%;">{{ 'menu.dark'|trans }}</button>
                                    <button type="button" class="presetTag btn btn-sm" data-preset="LIGHT" style="background-color: #f8f9fa; color: #212529; border: 1px solid #212529; width: 100%">{{ 'menu.light'|trans }}</button>
                                    <button type="button" class="presetTag btn btn-sm" data-preset="PURPLE" style="background-color: #4B0082; color: #f8f9fa; border: 1px solid #4B0082; width: 100%">{{ 'menu.purple'|trans }}</button>
                                </div>
                            </div>

                            <div class="divider py-2"></div>

                            <button type="submit" id="createTagSubmit" class="btn btn-block btn-dark" style="width: 100%">{{ 'menu.create'|trans }}</button>
                        </form>
                    </div>
                </div>
                <hr>
                <form id="assignUserTag">
                    <div class="form-group">
                        <h5>{{ 'menu.assign'|trans }}</h5>
                        <select id="assignTagSelector" class="form-select" multiple>

                            {% for tag in all_private_tags %}
                                {% set selected = '' %}

                                {% for selectedTag in private_tags %}
                                    {% if tag.id == selectedTag.id %}
                                        {% set selected = 'selected' %}
                                    {% endif %}
                                {% endfor %}

                                <option value="{{ tag.id }}" {{ selected }}>{{ tag.name.jsonSerialize[app.locale] }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <input type="hidden" id="hiddenDeckId" value="">
                    <div class="divider py-2"></div>

                    <button type="submit" id="addTagSubmit" class="btn btn-block btn-dark" style="width: 100%">{{ 'menu.save'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

<div class="modal fade" id="deckUpdateNotes" tabindex="-1" role="dialog" aria-labelledby="deckUpdateNotes" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modelaTitleLabel">{{ 'deck.notes'|trans }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="updateDeckNotesForm">
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <textarea class="form-control" name="notes" id="deckNotesInput" rows="8" maxlength="512">{{ deck_notes }}</textarea>
                        </div>
                    </div>

                    <input type="hidden" id="hiddenDeckId" value="">

                    <div class="divider py-1"></div>

                    <button type="submit" id="updateNotesSubmit" class="btn btn-block btn-dark" style="width: 100%">{{ 'deck.save'|trans }}</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const modal = $('#deckUpdateNotes');

    modal.on('hidden.bs.modal', function () {
        $(this).find('form').trigger('reset');
    });

    modal.on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        $('#hiddenDeckId')[0].value = button.data('deck-id');
    });

    modal.on('hidden.bs.modal', function () {
        $(this).find('form').trigger('reset');
    });

    $('#updateDeckNotesForm').submit(function (e) {
        e.preventDefault();

        let deckId = $('#hiddenDeckId')[0].value;
        let notes = $('#deckNotesInput')[0].value;

        $.post({
            url: '{{ path('keyforge_deck_update_notes') }}',
            method: 'POST',
            data: {
                'deckId': deckId,
                'notes': notes,
            },
        }).done(function() {
            $('#deckNotesInput')[0].innerHTML = notes;
            $('#deckNotesInputDisabled')[0].innerHTML = notes;
            modal.modal('hide');
        });
    });

    $('#deck_add_my_deck').click(function (e) {
        e.preventDefault();

        url = '{{ path('keyforge_ownership_update', {'id': '-id-'}) }}'
        url = url.replace('-id-', e.target.getAttribute('data-deck-id'));

        $.post({
            url: url,
            method: 'POST',
        }).done(function( ) {
            location.reload();
        }).fail(function() {
            alert('Error');
        });
    });

    $('#deck_remove_my_deck').click(function (e) {
        e.preventDefault();

        url = '{{ path('keyforge_ownership_update', {'id': '-id-'}) }}'
        url = url.replace('-id-', e.target.getAttribute('data-deck-id'));

        $.post({
            url: url,
            method: 'DELETE',
        }).done(function( ) {
            location.reload();
        }).fail(function() {
            alert('Error');
        });
    });

    {% if is_granted('ROLE_KEYFORGE') and app.user.id.value in owners %}

    $('.removeTag').click(function (e) {
        e.preventDefault();

        $.post({
            url: '{{ path('keyforge_remove_tag') }}',
            method: 'DELETE',
            data: {
                'id': $(this).data('tag'),
            },
        }).done(function( ) {
            location.reload();
        }).fail(function() {
            alert('Error');
        });
    });

    // Tag modal
    const presets = {
        TRAIT_POSITIVE: {color_bg: "#1e75e6", color_text: "#ffffff", color_outline: "#1e75e6"},
        TRAIT_NEGATIVE: {color_bg: "#f50529", color_text: "#ffffff", color_outline: "#f50529"},
        OTHER: {color_bg: "#e8db1e", color_text: "#000000", color_outline: "#e8db1e"},
        LIGHT: {color_bg: "#f8f9fa", color_text: "#212529", color_outline: "#212529"},
        DARK: {color_bg: "#212529", color_text: "#f8f9fa", color_outline: "#212529"},
        PURPLE: {color_bg: "#4B0082", color_text: "#f8f9fa", color_outline: "#4B0082"},
    };

    $('.presetTag').on('click', function () {
        applyPreset(presets[$(this).data('preset')]);
    });

    function applyPreset(preset) {
        $('#colorPickerBg').val(preset.color_bg);
        $('#colorPickerText').val(preset.color_text);
        $('#colorPickerOutline').val(preset.color_outline);
        updateTagPreview();
    }

    function updateTagPreview() {
        $('#tagPreview').css({
            'background-color': $('#colorPickerBg').val(),
            'color': $('#colorPickerText').val(),
            'border': '1px solid ' + $('#colorPickerOutline').val()
        });

        const text = $('#createTagName').val();
        $('#tagPreview').text(text || '{{ 'menu.preview'|trans }}');
    }

    $('#colorPickerBg, #colorPickerText, #colorPickerOutline, #createTagName').on('input', updateTagPreview);

    $('#createUserTags').submit(function (e) {
        e.preventDefault();

        $.post({
            url: '{{ path('keyforge_create_tag') }}',
            method: 'POST',
            data: {
                'name': $('#createTagName').val(),
                'styleBg': $('#colorPickerBg').val(),
                'styleText': $('#colorPickerText').val(),
                'styleOutline': $('#colorPickerOutline').val(),
                'deckId': $('#hiddenDeckId2').val(),
            },
        }).done(function() {
            location.reload();
        });
    });

    $('#assignUserTag').submit(function (e) {
        e.preventDefault();

        $.post({
            url: '{{ path('keyforge_assign_tag') }}',
            method: 'PUT',
            data: {
                'deckId': $('#hiddenDeckId2').val(),
                'tagId': $('#assignTagSelector').val(),
            },
        }).done(function() {
            location.reload();
        });
    });

    $(document).ready(function () {
        $('#assignTagSelector').select2({
            minimumResultsForSearch: 0,
            minimumInputLength: 0,
            multiple: true,
            closeOnSelect: true,
            allowClear: true,
            placeholder: '{{ 'menu.tags'|trans }}',
            theme: 'bootstrap-5',
            dropdownParent: $('#deckUserTags')
        });

        updateTagPreview();
    });
    {% endif %}
</script>
