{% block header %}
<style>
    .stat_icon {
        width: 40px;
        height: 40px;
    }
</style>
{% endblock %}

<div class="shadow-lg p-3 mb-3 bg-white rounded col-2 h3 offset-10">
    <span class="ms-3">Stats</span>
    <div class="col ms-3 mt-2 mb-2">
        <img src="{{ asset('assets/keyforge/logos/expected_amber.svg') }}" alt="{{ 'deck.expected_amber'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.expected_amber'|trans }}"/>
        &nbsp;{{ deck.data.stats.expectedAmber }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/amber_control.svg') }}" alt="{{ 'deck.amber_control'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.amber_control'|trans }}"/>
        &nbsp;{{ deck.data.stats.amberControl }}
    </div>

    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/creature_control.svg') }}" alt="{{ 'deck.creature_control'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.creature_control'|trans }}"/>
        &nbsp;{{ deck.data.stats.creatureControl }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/artifact_control.svg') }}" alt="{{ 'deck.artifact_control'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.artifact_control'|trans }}"/>
        &nbsp;{{ deck.data.stats.artifactControl }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/efficiency.svg') }}" alt="{{ 'deck.efficiency'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.efficiency'|trans }}"/>
        &nbsp;<span style="white-space: nowrap">{{ deck.data.stats.efficiency }}</span>
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/effective_power.svg') }}" alt="{{ 'deck.effective_power'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.effective_power'|trans }}"/>
        &nbsp;{{ deck.data.stats.effectivePower }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/recursion.svg') }}" alt="{{ 'deck.recursion'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.recursion'|trans }}"/>
        &nbsp;{{ deck.data.stats.recursion }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/creature_protection.svg') }}" alt="{{ 'deck.creature_protection'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.creature_protection'|trans }}"/>
        &nbsp;{{ deck.data.stats.creatureProtection }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/disruption.svg') }}" alt="{{ 'deck.disruption'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.disruption'|trans }}"/>
        &nbsp;{{ deck.data.stats.disruption }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/other.svg') }}" alt="{{ 'deck.other'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.other'|trans }}"/>
        &nbsp;{{ deck.data.stats.other }}
    </div>

    <div class="divider py-2"></div>

    <span class="ms-3">Counts</span>
    <div class="col ms-3 mt-2 mb-2">
        <img src="{{ asset('assets/keyforge/logos/amber.svg') }}" alt="{{ 'deck.bonus_amber'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.bonus_amber'|trans }}"/>
        &nbsp;
        {{ deck.data.stats.rawAmber }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/archive.svg') }}" alt="{{ 'deck.archives'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.archives'|trans }}"/>
        &nbsp;
        {{ deck.data.stats.cardArchiveCount }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/creature.svg') }}" alt="{{ 'deck.creatures'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.creatures'|trans }}"/>
        &nbsp;
        {{ deck.data.stats.creatureCount }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/action.svg') }}" alt="{{ 'deck.actions'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.actions'|trans }}"/>
        &nbsp;
        {{ deck.data.stats.actionCount }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/artifact.svg') }}" alt="{{ 'deck.artifacts'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.artifacts'|trans }}"/>
        &nbsp;{{ deck.data.stats.artifactCount }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/upgrade.svg') }}" alt="{{ 'deck.upgrades'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.upgrades'|trans }}"/>
        &nbsp;{{ deck.data.stats.upgradeCount }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/key_cheat.svg') }}" alt="{{ 'deck.key_cheats'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.key_cheats'|trans }}"/>
        &nbsp;{{ deck.data.stats.keyCheatCount }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/scaling_amber_control.svg') }}" alt="{{ 'deck.scaling_amber_control'|trans }}" class="stat_icon"  data-toggle="tooltip" title="{{ 'deck.scaling_amber_control'|trans }}<br>{{ deck.data.stats.scalingAmberControlCards|join('<br>') }}"/>
        &nbsp;{{ deck.data.stats.scalingAmberControlCount }}
    </div>
    <div class="col ms-3 mb-2">
        <img src="{{ asset('assets/keyforge/logos/board_wipe.svg') }}" alt="{{ 'deck.board_clears'|trans }}" class="stat_icon" data-toggle="tooltip" title="{{ 'deck.board_clears'|trans }}<br>{{ deck.data.stats.boardClearCards|join('<br>') }}" />
        &nbsp;{{ deck.data.stats.boardClearCount }}
    </div>
</div>
