{% if deck_history|length > 0 %}

<div class="shadow-lg p-3 mb-3 bg-white rounded">
    <div style="overflow-x: auto">
        <table style="width:100%;" class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>{{ 'deck.sas'|trans }}</th>
                <th>{{ 'deck.aerc'|trans }}</th>
                <th>{{ 'deck.synergy'|trans }}</th>
                <th>{{ 'deck.expected_amber'|trans }}</th>
                <th>{{ 'deck.amber_control'|trans }}</th>
                <th>{{ 'deck.creature_control'|trans }}</th>
                <th>{{ 'deck.artifact_control'|trans }}</th>
                <th>{{ 'deck.effective_power'|trans }}</th>
                <th>{{ 'deck.creature_protection'|trans }}</th>
                <th>{{ 'deck.efficiency'|trans }}</th>
                <th>{{ 'deck.recursion'|trans }}</th>
                <th>{{ 'deck.disruption'|trans }}</th>
                <th>{{ 'deck.other'|trans }}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for deck_history_stat in deck_history %}
                <tr>
                    <td style="white-space: nowrap;">{{ deck_history_stat.sas }} ({% if deck_history_stat.sasModified >= 0 %}+{% endif %}{{ deck_history_stat.sasModified }})</td>
                    <td style="white-space: nowrap;">{{ deck_history_stat.aercScore }} (v{{ deck_history_stat.aercVersion }})</td>
                    <td>+{{ deck_history_stat.synergyRating }} -{{ deck_history_stat.antiSynergyRating }}</td>
                    <td>{{ deck_history_stat.expectedAmber|round(2) }}</td>
                    <td>{{ deck_history_stat.amberControl|round(2) }}</td>
                    <td>{{ deck_history_stat.creatureControl|round(2) }}</td>
                    <td>{{ deck_history_stat.artifactControl|round(2) }}</td>
                    <td>{{ deck_history_stat.effectivePower|round(2) }}</td>
                    <td>{{ deck_history_stat.creatureProtection|round(2) }}</td>
                    <td>{{ deck_history_stat.efficiency|round(2) }}</td>
                    <td>{{ deck_history_stat.recursion|round(2) }}</td>
                    <td>{{ deck_history_stat.disruption|round(2) }}</td>
                    <td>{{ deck_history_stat.other|round(2) }}</td>
                    <td style="white-space: nowrap;">{{ deck_history_stat.updatedAt|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}
