{% if deck_history|length > 0 %}

<div class="shadow-lg p-3 mb-3 bg-white rounded">
    <div style="overflow-x: auto">
        <table style="width:100%;" class="table table-hover table-responsive">
            <thead>
            <tr>
                <th>Sas</th>
                <th>Aerc score</th>
                <th>Aerc version</th>
                <th>Expected amber</th>
                <th>Creature control</th>
                <th>Artifact control</th>
                <th>Efficiency</th>
                <th>Recursion</th>
                <th>Creature protection</th>
                <th>Disruption</th>
                <th>Other</th>
                <th>Effective power</th>
                <th>Synergy rating</th>
                <th>Antisynergy rating</th>
                <th>Updated at</th>
            </tr>
            </thead>
            <tbody>
            {% for deck_history_stat in deck_history %}
                <tr>
                    <td style="white-space: nowrap;">{{ deck_history_stat.sas }} ({% if deck_history_stat.sasModified >= 0 %}+{% endif %}{{ deck_history_stat.sasModified }})</td>
                    <td>{{ deck_history_stat.aercScore }}</td>
                    <td>{{ deck_history_stat.aercVersion }}</td>
                    <td>{{ deck_history_stat.expectedAmber|round(2) }}</td>
                    <td>{{ deck_history_stat.creatureControl|round(2) }}</td>
                    <td>{{ deck_history_stat.artifactControl|round(2) }}</td>
                    <td>{{ deck_history_stat.efficiency|round(2) }}</td>
                    <td>{{ deck_history_stat.recursion|round(2) }}</td>
                    <td>{{ deck_history_stat.creatureProtection|round(2) }}</td>
                    <td>{{ deck_history_stat.disruption|round(2) }}</td>
                    <td>{{ deck_history_stat.other|round(2) }}</td>
                    <td>{{ deck_history_stat.effectivePower|round(2) }}</td>
                    <td>{{ deck_history_stat.synergyRating }}</td>
                    <td>{{ deck_history_stat.antiSynergyRating }}</td>
                    <td style="white-space: nowrap;">{{ deck_history_stat.updatedAt|date('Y-m-d') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endif %}
