<div class="p-3 mb-2">
    <div class="row">
        <a class="btn btn-dark border col-12 col-sm-6 col-lg-3">
            <h5>{{ 'data.wins'|trans }}</h5>
            <p></p>
            <p>{{ stats.wins }}</p>
        </a>
        <a class="btn btn-dark border col-12 col-sm-6 col-lg-3">
            <h5>{{ 'data.losses'|trans }}</h5>
            <p></p>
            <p>{{ stats.losses }}</p>
        </a>
        {% if stats.rival != null %}
        <a href="{{ path('keyforge_deck_detail', {'deckId': stats.rival.id}) }}" class="btn btn-dark border col-12 col-sm-6 col-lg-3">
            <h5>{{ stats.rival.name }}</h5>
            <p></p>
            <p>{{ 'menu.rival'|trans }} ({{ stats.rival.games }} {{ 'menu.games'|trans }})</p>
        </a>
        {% endif %}
        {% if stats.nemesis != null %}
        <a href="{{ path('keyforge_deck_detail', {'deckId': stats.nemesis.id}) }}" class="btn btn-dark border col-12 col-sm-6 col-lg-3">
            <h5>{{ stats.nemesis.name }}</h5>
            <p></p>
            <p>{{ 'menu.nemesis'|trans }} ({{ stats.nemesis.losses }} {{ 'menu.games_lost'|trans }})</p>
        </a>
        {% endif %}
    </div>
</div>
