{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}Games{% endblock %}

{% block body %}
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <div class="d-flex flex-row">
            <h4>Games of {{ deck_name }}</h4>
        </div>

        {% if (null != deck_owner) %}
{#            <h6><a href="/keyforge/games/user/{{ deck_owner }}" target="_blank">Claimed</a></h6>#}
            <h6>Claimed</h6>
        {% endif %}

        <div class="alert" id="result" style="display: none"></div>

        <div class="d-flex flex-row-reverse">
            <a href="https://archonarcana.com/Deck:{{ reference }}" target="_blank"><img class="img-thumbnail" width="50px" style="min-width: 40px" src="{{ asset('assets/keyforge/logos/wiki.jpg') }}" alt="Wiki"/></a>
            <a href="https://decksofkeyforge.com/decks/{{ reference }}" target="_blank"><img class="img-thumbnail" width="40px" style="min-width: 40px" src="{{ asset('assets/keyforge/logos/dok.svg') }}" alt="DoK"/></a>
            <a href="https://keyforgegame.com/deck-details/{{ reference }}" target="_blank"><img class="img-thumbnail" width="50px" style="min-width: 50px" src="{{ asset('assets/keyforge/logos/vault.png') }}" alt="Vault"/></a>

            {% if (is_granted('ROLE_KEYFORGE')) and null == deck_owner %}
                <div class="btn btn-sm btn-dark" id="claimDeckButton">Claim</div>
            {% endif %}
        </div>

        <table id="gamesList" class="table table-responsive-sm table-hover" style="width:100%;">
            <thead>
            <tr>
                <th scope="col">Winner</th>
                <th scope="col">Winner deck</th>
                <th scope="col">Loser</th>
                <th scope="col">Loser deck</th>
                <th scope="col">Score</th>
                <th scope="col">First turn</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
        </table>
    </div>

    <script>
        $(document).ready(function () {
            $(window).on('resize', function() {
                $('#gamesList.dataTable').resize;
            });

            {% if userId != null %}
                let endpoint = '/keyforge/games/json?deckId={{ reference }}&userId={{ userId }}';
            {% else %}
                let endpoint = '/keyforge/games/json?deckId={{ reference }}';
            {% endif %}

            $('#gamesList').DataTable({
                searching: false,
                paging: true,
                info: true,
                responsive: true,
                processing: true,
                serverSide: true,
                order: [[6, 'desc']],
                lengthMenu: [10, 25, 50, 100],
                iDisplayLength: 25,
                ajax: endpoint,
                createdRow: function(row, data, dataIndex) {
                    let deck = '{{ reference }}';

                    if (deck === data.winner_deck) {
                        $(row).addClass('table-success');
                    } else {
                        $(row).addClass('table-danger');
                    }
                },
                columns: [
                    { data: "winner_name" },
                    { data: "winner_deck_name" },
                    { data: "loser_name" },
                    { data: "loser_deck_name" },
                    { data: "score" },
                    { data: "first_turn" },
                    { data: "date" },
                ],
                columnDefs: [
                    {
                        render: function (data, type, row) {
                            return '<a href="/keyforge/games/user/' + row.winner + '">' + data + '</a>';
                        },
                        targets: 0, //Winner
                    },
                    {
                        render: function (data, type, row) {
                            let reference = '{{ reference }}';

                            if (reference === row.winner_deck) {
                                return data;
                            } else {
                                return '<a href="/keyforge/games/deck/' + row.winner_deck + '">' + data + '</a>';
                            }
                        },
                        targets: 1, //Winner deck
                    },
                    {
                        render: function (data, type, row) {
                            return '<a href="/keyforge/games/user/' + row.loser + '">' + data + '</a>';
                        },
                        targets: 2, //Loser
                    },
                    {
                        render: function (data, type, row) {
                            let reference = '{{ reference }}';

                            if (reference === row.loser_deck) {
                                return data;
                            } else {
                                return '<a href="/keyforge/games/deck/' + row.loser_deck + '">' + data + '</a>';
                            }
                        },
                        targets: 3, //Loser deck
                    },
                    {
                        targets: [0, 1, 2, 3, 4, 5, 6],
                        searchable: false,
                        visible: true,
                    },
                    {
                        targets: [0, 1, 2, 3, 4, 5],
                        orderable: false,
                    },
                    {
                        targets: [6],
                        orderable: true,
                    },
                ],
            });

            $('#claimDeckButton').click(function () {
                $.ajax({
                    url: '/keyforge/deck/claim',
                    type: "post",
                    data: {
                        deckId: '{{ reference }}',
                    },
                    success: function (response) {
                        $('#claimDeckButton').hide();

                        let alert = $('#result');
                        alert.removeClass('alert-success');
                        alert.removeClass('alert-danger');
                        alert.addClass('alert-success').text('Es tuya mostro, que la disfrutes').show();
                        alert.delay(3000).fadeOut('slow');
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        let alert = $('#result');
                        alert.removeClass('alert-success');
                        alert.removeClass('alert-danger');
                        alert.addClass('alert-danger').text('Algo fue mal, que lo revise nan supongo...').show();
                        alert.delay(3000).fadeOut('slow');
                    }
                });
            });
        });
    </script>
{% endblock %}