{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}Keyforge{% endblock %}

{% block header %}
    <style>
        .accordion-button {
            background-color: white;
            color: black;
        }

        .accordion-button:not(.collapsed) {
            background-color: white;
            color: black;
            box-shadow: none;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="shadow-lg p-3 mb-3 bg-white rounded">
        <div class="accordion mt-2" id="stats3Accordion">
            <h2 class="accordion-header" id="heading-stats">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3-stats" aria-expanded="true" aria-controls="collapse2-stats">
{#                    {{ 'data.'|trans }}#}
                </button>
            </h2>
            <div id="collapse3-stats" class="accordion-collapse collapse show" aria-labelledby="heading-stats" data-bs-parent="#statsAccordion">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-lg-4">
                            <canvas id="housePresence"></canvas>
                        </div>
                        <div class="col-12 col-sm-6 col-lg-4">
                            <canvas id="setPresence"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mt-2" id="stats2Accordion">
            <h2 class="accordion-header" id="heading-stats">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2-stats" aria-expanded="true" aria-controls="collapse2-stats">
                    {{ 'data.win_rate'|trans }}
                </button>
            </h2>
            <div id="collapse2-stats" class="accordion-collapse collapse show" aria-labelledby="heading-stats" data-bs-parent="#statsAccordion">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <canvas id="wrSet"></canvas>
                        </div>
                        <div class="col-12 col-lg-6">
                            <canvas id="wrSas"></canvas>
                        </div>

                        <div class="divider py-2"></div>

                        <div class="row m-2">
                            <div class="col-12 col-lg-12">
                                <canvas id="wrHouse"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mt-2" id="statsAccordion">
            <h2 class="accordion-header" id="heading-stats">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-stats" aria-expanded="true" aria-controls="collapse-stats">
                    {{ 'menu.avg_stats_by_house'|trans }}
                </button>
            </h2>
            <div id="collapse-stats" class="accordion-collapse collapse" aria-labelledby="heading-stats" data-bs-parent="#statsAccordion">
                <div class="accordion-body">
                    <div class="row">
                        {% set statsBySet = ['expectedAmberBySet', 'creatureControlBySet', 'amberControlBySet', 'artifactControlBySet', 'creatureProtectionBySet', 'disruptionBySet', 'efficiencyBySet', 'recursionBySet'] %}

                        {% for stat in statsBySet %}
                            <div class="col-12 col-sm-6 col-lg-4 mb-4">
                                <canvas id="{{ stat }}"></canvas>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_KEYFORGE') %}
        <div class="shadow-lg p-3 mb-3 bg-white rounded">
            <div class="row">
                {% for i in 0..1 %}
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12 col-md-6 mt-2">
                                <span>{{ 'menu.decks_from'|trans }}</span>
                                <select id="collection_comparison_from_{{ i }}" class="form-select compare_collection_select" data-index="{{ i }}">
                                    <option value="{{ app.user.id }}" {% if i == 0 %}selected{% endif %}>{{ 'menu.you'|trans }}</option>
                                    <option value="friends" {% if i == 1 %}selected{% endif %}>{{ 'menu.friends'|trans }}</option>
                                    <option value="all">{{ 'deck_comparison.all'|trans }}</option>
                                    {% for id,friend in indexed_friends %}
                                        <option value="{{ id }}">{{ friend }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-12 col-md-6 mt-2">
                                <span>{{ 'menu.stat'|trans }}</span>
                                <select id="collection_comparison_stat_{{ i }}" class="form-select compare_collection_select" data-index="{{ i }}">
                                    <option value="sas" selected>{{ 'deck.sas'|trans }}</option>
                                    <option value="expectedAmber">{{ 'deck.expected_amber'|trans }}</option>
                                    <option value="amberControl">{{ 'deck.amber_control'|trans }}</option>
                                    <option value="creatureControl">{{ 'deck.creature_control'|trans }}</option>
                                    <option value="artifactControl">{{ 'deck.artifact_control'|trans }}</option>
                                    <option value="efficiency">{{ 'deck.efficiency'|trans }}</option>
                                    <option value="recursion">{{ 'deck.recursion'|trans }}</option>
                                    <option value="disruption">{{ 'deck.disruption'|trans }}</option>
                                    <option value="effectivePower">{{ 'deck.effective_power'|trans }}</option>
                                    <option value="creatureProtection">{{ 'deck.creature_protection'|trans }}</option>
                                    <option value="totalArmor">{{ 'deck.total_armor'|trans }}</option>
                                    <option value="creatureCount">{{ 'deck.creature_count'|trans }}</option>
                                    <option value="actionCount">{{ 'deck.action_count'|trans }}</option>
                                    <option value="artifactCount">{{ 'deck.artifact_count'|trans }}</option>
                                    <option value="upgradeCount">{{ 'deck.upgrade_count'|trans }}</option>
                                    <option value="keyCheatCount">{{ 'deck.key_cheat_count'|trans }}</option>
                                    <option value="cardArchiveCount">{{ 'deck.card_archive_count'|trans }}</option>
                                    <option value="boardClearCount">{{ 'deck.board_clear_count'|trans }}</option>
                                    <option value="scalingAmberControlCount">{{ 'deck.scaling_amber_control_count'|trans }}</option>
                                    <option value="rawAmber">{{ 'deck.raw_amber'|trans }}</option>
                                    <option value="aercScore">{{ 'deck.aerc_score'|trans }}</option>
                                    <option value="synergyRating">{{ 'deck.synergy'|trans }}</option>
                                    <option value="antiSynergyRating">{{ 'deck.antisynergy'|trans }}</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 mt-2">
                                <span>{{ 'menu.amount'|trans }}</span>
                                <select id="collection_comparison_amount_{{ i }}" class="form-select compare_collection_select" data-index="{{ i }}">
                                    <option value="5">5</option>
                                    <option value="10" selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 mt-2">
                                <span>{{ 'menu.set'|trans }}</span>
                                <select id="collection_comparison_set_{{ i }}" class="form-select compare_collection_select" data-index="{{ i }}">
                                    <option value="all" selected>{{ 'menu.all'|trans }}</option>
                                    <option value="CotA">{{ 'set.full.CotA'|trans }}</option>
                                    <option value="AoA">{{ 'set.full.AoA'|trans }}</option>
                                    <option value="WC">{{ 'set.full.WC'|trans }}</option>
                                    <option value="MM">{{ 'set.full.MM'|trans }}</option>
                                    <option value="DT">{{ 'set.full.DT'|trans }}</option>
                                    <option value="WoE">{{ 'set.full.WoE'|trans }}</option>
                                    <option value="GR">{{ 'set.full.GR'|trans }}</option>
                                    <option value="AS">{{ 'set.full.AS'|trans }}</option>
                                    <option value="PV">{{ 'set.full.PV'|trans }}</option>
                                    <option value="U22">{{ 'set.full.U22'|trans }}</option>
                                    <option value="M24">{{ 'set.full.M24'|trans }}</option>
                                    <option value="VM23">{{ 'set.full.VM23'|trans }}</option>
                                    <option value="VM24">{{ 'set.full.VM24'|trans }}</option>
                                    <option value="VM25">{{ 'set.full.VM25'|trans }}</option>
                                    <option value="MoM">{{ 'set.full.MoM'|trans }}</option>
                                    <option value="ToC">{{ 'set.full.ToC'|trans }}</option>
                                    <option value="DIS">{{ 'set.full.DIS'|trans }}</option>
                                </select>
                            </div>

                            <div class="col-12 mt-2">
                                <span>{{ 'menu.deck_type'|trans }}</span>
                                <select id="collection_comparison_decktype_{{ i }}" class="form-select compare_collection_select" data-index="{{ i }}">
                                    <option value="all">{{ 'menu.all'|trans }}</option>
                                    <option value="STANDARD" selected>{{ 'menu.deck_type_archon'|trans }}</option>
                                    <option value="ALLIANCE">{{ 'menu.deck_type_alliance'|trans }}</option>
                                    <option value="THEORETICAL">{{ 'menu.deck_type_theoretical'|trans }}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                {% for i in 0..1 %}
                    <div class="col-6">
                        <div class="row">
                            <div class="col-12">
                                <table class="table table-hover" id="collection_comparison_table_{{ i }}">
                                    <thead>
                                    <tr>
                                        <th>{{ 'menu.deck'|trans }}</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <script>
        let housePresence = JSON.parse('{{ houses|json_encode|raw }}');
        let setPresence = JSON.parse('{{ sets|json_encode|raw }}');
        let wrSet = JSON.parse('{{ wrBySet|json_encode|raw }}');
        let wrHouse = JSON.parse('{{ wrByHouse|json_encode|raw }}');
        let wrSas = JSON.parse('{{ wrBySas|json_encode|raw }}');
        let avgStatsBySet = JSON.parse('{{ avgStatsBySet|json_encode|raw }}');

        const houseColors = [
            'rgb(231, 76, 60)',  //Brobnar
            'rgb(225, 78, 183)', //Dis
            'rgb(177, 29, 33)',  //Ekwidon
            'rgb(37, 41, 33)',   //Geistoid
            'rgb(52, 152, 219)', //Logos
            'rgb(46, 204, 113)', //Mars
            'rgb(218,8,8)',      //Redemption
            'rgb(41, 128, 185)', //Sanctum
            'rgb(22, 160, 133)', //Saurian
            'rgb(81, 90, 90)',   //Shadows
            'rgb(9,237,211)',    //Skyborn
            'rgb(125, 60, 152)', //Star Alliance
            'rgb(21, 67, 96)',   //Unfathomable
            'rgb(20, 90, 50)',   //Untamed
        ];

        const setColors = [
            'rgb(255,145,0)',    //AS
            'rgb(52, 152, 219)', //AoA
            'rgb(231, 76, 60)',  //CotA
            'rgb(7,70,113)',     //DT
            'rgb(37, 41, 33)',   //GR
            'rgb(225,66,66)',    //M24
            'rgb(18,129,107)',   //MM
            'rgb(22, 160, 133)', //MoM
            'rgb(225,66,66)',    //ToC
            'rgb(133,128,128)',  //U22
            'rgb(133,128,128)',  //VM23
            'rgb(133,128,128)',  //VM24
            'rgb(125, 60, 152)', //WC
            'rgb(177, 29, 33)',  //WoE
        ];

        graphDonut('housePresence', '{{ 'deck.houses'|trans }}', housePresence, houseColors);
        graphDonut('setPresence', '{{ 'deck.sets'|trans }}', setPresence, setColors);
        graphBar('wrSet', wrSet, '{{ 'data.by_set'|trans }}', 2);
        graphBar('wrHouse', wrHouse, '{{ 'data.by_house'|trans }}', 4);
        graphBar('wrSas', wrSas, '{{ 'data.by_sas'|trans}}', 2);


        let expectedAmber = [];
        let creatureControl = [];
        let amberControl = [];
        let artifactControl = [];
        let creatureProtection = [];
        let disruption = [];
        let efficiency = [];
        let recursion = [];

        for (const [key, value] of Object.entries(avgStatsBySet)) {
            expectedAmber[key] = avgStatsBySet[key].avg_expected_amber;
            creatureControl[key] = avgStatsBySet[key].avg_creature_control;
            amberControl[key] = avgStatsBySet[key].avg_amber_control;
            artifactControl[key] = avgStatsBySet[key].avg_artifact_control;
            creatureProtection[key] = avgStatsBySet[key].avg_creature_protection;
            disruption[key] = avgStatsBySet[key].avg_disruption;
            efficiency[key] = avgStatsBySet[key].avg_efficiency;
            recursion[key] = avgStatsBySet[key].avg_recursion;
        }

        graphRadar('expectedAmberBySet', expectedAmber, '{{ 'deck.expected_amber'|trans }}', 1);
        graphRadar('creatureControlBySet', creatureControl, '{{ 'deck.creature_control'|trans }}', 1);
        graphRadar('amberControlBySet', amberControl, '{{ 'deck.amber_control'|trans }}', 1);
        graphRadar('artifactControlBySet', artifactControl, '{{ 'deck.artifact_control'|trans }}', 1);
        graphRadar('creatureProtectionBySet', creatureProtection, '{{ 'deck.creature_protection'|trans }}', 1);
        graphRadar('disruptionBySet', disruption, '{{ 'deck.disruption'|trans }}', 1);
        graphRadar('efficiencyBySet', efficiency, '{{ 'deck.efficiency'|trans }}', 1);
        graphRadar('recursionBySet', recursion, '{{ 'deck.recursion'|trans }}', 1);

        function graphDonut(id, title, data, colors) {
            new Chart(document.getElementById(id).getContext('2d'), {
                type: 'doughnut',
                data: {
                    labels: Object.keys(data),
                    datasets: [
                        {
                            data: Object.values(data),
                            borderColor: 'rgb(255,255,255)',
                            backgroundColor: colors,
                        },
                    ]
                },
                options: {
                    responsive: true,
                    aspectRatio: 1.2,
                    plugins: {
                        legend: {
                            display: false,
                            position: 'bottom',
                        },
                        title: {
                            display: true,
                            text: title,
                        }
                    }
                },
            });
        }

        function graphBar(id, data, title, ratio) {
            const canvas = document.getElementById(id);
            const isMobile = window.innerWidth <= 768;

            if (isMobile) {
                canvas.height = 300;
            } else {
                canvas.height = 250;
            }

            let wins = [];
            let losses = [];
            let wr = [];

            for (const [key, value] of Object.entries(data)) {
                wins.push(data[key].wins);
                losses.push(data[key].losses);
                wr.push(data[key].winrate);
            }

            new Chart(canvas.getContext('2d'), {
                type: 'bar',
                data: {
                    labels: Object.keys(data),
                    datasets: [
                        {
                            label: '{{ 'data.wins'|trans }}',
                            data: wins,
                            borderColor: '#688f4e',
                            backgroundColor: '#688f4e',
                        },
                        {
                            label: '{{ 'data.losses'|trans }}',
                            data: losses,
                            borderColor: '#d53302',
                            backgroundColor: '#d53302',
                        },
                        {
                            label: '{{ 'data.win%_rate'|trans }}',
                            data: wr,
                            borderColor: '#3a6383',
                            backgroundColor: '#3a6383',
                            yAxisID: 'percentage',
                        },
                    ],
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    aspectRatio: ratio,
                    plugins: {
                        legend: {
                            display: true,
                            position: 'bottom',
                        },
                        title: {
                            display: true,
                            text: title,
                        }
                    },
                    scale: {
                        ticks: {
                            precision: 0,
                        },
                    },
                    scales: {
                        wins: {
                            type: 'linear',
                            display: true,
                            position: 'left',
                            grid: {
                                drawOnChartArea: true,
                            },
                            stacked: false,
                            ticks: {
                                font: {
                                    size: isMobile ? 10 : 14,
                                },
                            },
                        },
                        percentage: {
                            type: 'linear',
                            display: true,
                            position: 'right',
                            min: 0,
                            max: 100,
                            grid: {
                                drawOnChartArea: false,
                            },
                            stacked: false,
                            ticks: {
                                font: {
                                    size: isMobile ? 10 : 14,
                                },
                            },
                        },
                    },
                },
            });
        }

        function graphRadar(id, data, title, ratio) {
            new Chart(document.getElementById(id).getContext('2d'), {
                type: 'radar',
                data: {
                    labels: Object.keys(data),
                    datasets: [
                        {
                            data: Object.values(data),
                            borderColor: '#000000',
                        },
                    ],
                },
                options: {
                    responsive: true,
                    aspectRatio: ratio,
                    plugins: {
                        legend: {
                            display: false,
                        },
                        title: {
                            display: true,
                            text: title,
                            position: 'bottom',
                        }
                    },
                    scale: {
                        ticks: {
                            precision: 0,
                        },
                    },
                },
            });
        }

        {% if is_granted('ROLE_KEYFORGE') %}
        initDecks();

        $('.compare_collection_select').select2({
            theme: 'bootstrap-5',
            minimumResultsForSearch: Infinity,
        });

        $('.compare_collection_select').change(function (e) {
            const index = $(e.currentTarget).data('index');

            fetchDecks(
                index,
                $('#collection_comparison_set_' + index)[0].value,
                $('#collection_comparison_from_' + index)[0].value,
                $('#collection_comparison_amount_' + index)[0].value,
                $('#collection_comparison_stat_' + index)[0].value,
                $('#collection_comparison_decktype_' + index)[0].value,
            );
        });

        function initDecks() {
            fetchDecks(0, 'all', '{{ app.user.id }}', 10, 'sas', 'STANDARD');
            fetchDecks(1, 'all', 'friends', 10, 'sas', 'STANDARD');
        }

        function fetchDecks(index, set, owners, amount, stat, decktype) {
            let data = {
                extraFilterOwners: [],
                extraFilterMinSas: 30,
                length: amount,
            };

            if (set !== 'all') {
                data.extraFilterSet = [set];
            }

            if (decktype !== 'all') {
                data.extraFilterDeckTypes = [decktype];
            }

            if (owners !== null && owners.length === 36) {
                data.extraFilterOwners = [owners];
            }

            if (owners !== null && owners === 'friends') {
                let friends = JSON.parse('{{ indexed_friends|json_encode|raw }}');

                data.extraFilterOwners = Object.keys(friends).filter((friend) => friend !== '{{ app.user.id }}');
            }

            const orderFields = {
                sas: 5,
                amberControl: 6,
                expectedAmber: 7,
                artifactControl: 8,
                creatureControl: 9,
                efficiency: 10,
                recursion: 11,
                disruption: 12,
                effectivePower: 13,
                creatureProtection: 14,
                totalArmor: 15,
                creatureCount: 16,
                actionCount: 17,
                artifactCount: 18,
                upgradeCount: 19,
                keyCheatCount: 20,
                cardArchiveCount: 21,
                boardClearCount: 22,
                scalingAmberControlCount: 23,
                rawAmber: 24,
                aercScore: 25,
                synergyRating: 26,
                antiSynergyRating: 27,
            };

            data.order = [{column: orderFields[stat], dir: 'desc'}];

            $('#collection_comparison_table_' + index + ' > tbody').empty();

            const spinner = '<div class="spinner-border text-dark" role="status"><span class="sr-only"></span></div>';

            $('#collection_comparison_table_' + index + ' > tbody').append(spinner);

            if (0 === data.extraFilterOwners.length && owners === 'friends') {
                renderDecks(index, stat, [])
                return;
            }

            $.ajax({
                type: 'GET',
                url: '{{ path('keyforge_decks_json') }}',
                data: data,
            }).done(function(data) {
                renderDecks(index, stat, data.data)
            }).fail(function() {
            });
        }

        function renderDecks(index, stat, decks) {
            $('#collection_comparison_table_' + index + ' > tbody').empty();

            decks.forEach(function (deck) {
                let deckStat = deck.stats[stat];

                let url = '{{ path('keyforge_deck_detail', {'deckId': '-replace-'}) }}';
                url = url.replace('-replace-', deck.id);

                let line = '<tr><td><a href="' + url + '">' + deck.name + '</a></td><td>' + deckStat + '</td></tr>';

                $('#collection_comparison_table_' + index + ' > tbody').append(line);
            });
        }
        {% endif %}
    </script>
{% endblock %}
