{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ competition.name }}{% endblock %}

{% block header %}
    <style>
        .btn-xs > .btn, .btn-xs {
            font-size  : .700rem;
            line-height  : .75;
        }
    </style>
{% endblock %}

{% block body %}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                'container': 'body',
                'placement': 'top'
            })
        })
    </script>

    <div class="shadow-lg p-3 mb-5 bg-white rounded col-12">
        <div class="row">
            <div class="col-8">
                <h2>{{ competition.name }}</h2>
            </div>
            <div class="col-4">
                {% if is_granted('ROLE_KEYFORGE') %}
                    {% if competition.startedAt is null %}
                        <div class="float-end">
                            <button type="button" class="btn btn-dark" id="startCompetition">{{ 'competition_detail.start'|trans }}</button>
                        </div>
                    {% elseif competition.finishedAt is null %}
                        <div class="float-end">
                            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#finishCompetition">{{ 'competition_detail.end'|trans }}</button>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">{{ competition.description }}</div>
        </div>

        {% if competition.winner is not null %}
            <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>

            <script>
                const confetti = new JSConfetti();

                for (var i = 0; i < 5; i++) {
                    setTimeout(function () {
                        confetti.addConfetti();
                        confetti.addConfetti({
                            emojis: ['🥚'],
                            emojiSize: 50,
                            confettiNumber: 5,
                        });
                    }, i * 1500)
                }
            </script>

            <div class="divider py-2"></div>
            <div class="divider py-2"></div>

            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <i class="bi bi-trophy" style="font-size: 7em;"></i>
                </div>
            </div>

            <div class="row">
                <div class="col-12" style="text-align: center; font-size: 2em;">
                    {% for user in users %}
                        {% if competition.winner == user.id %}
                            {{ 'competition_detail.champion'|trans({'%player%': user.name}) }}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div class="divider py-2"></div>
            <div class="divider py-2"></div>
        {% endif %}

        <div class="divider py-2"></div>
        <div class="divider py-2"></div>

        <div style="overflow-x: auto">
            <table style="width:100%;" class="table table-hover table-responsive">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ 'competition_detail.player'|trans }}</th>
                    <th>{{ 'competition_detail.w'|trans }}</th>
                    <th>{{ 'competition_detail.l'|trans }}</th>
                    <th>{{ 'competition_detail.key_diff'|trans }}</th>
                    <th>{{ 'competition_detail.key_yours'|trans }}</th>
                    <th>{{ 'competition_detail.key_opponentes'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for player in classification%}
                    <tr>
                        <td>{{ player.position }}</td>
                        <td>{{ player.username }}</td>
                        <td>{{ player.wins }}</td>
                        <td>{{ player.losses }}</td>
                        <td>{{ player.keys_forged - player.keys_opponent_forged }}</td>
                        <td>{{ player.keys_forged }}</td>
                        <td>{{ player.keys_opponent_forged }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="divider py-2"></div>
        <div class="divider py-2"></div>

        <div class="row" style="margin: auto;">
            {% for fixtureGroup in fixtures %}
                <div class="divider py-2"></div>
                <h6>{{ fixtureGroup.0.reference }}</h6>
                {% for fixture in fixtureGroup %}
                    <a class="btn btn-clear border col-12 col-sm-12 col-md-6 col-lg-6 overflow-wrap inline-block">
                        {% if fixture.games|length > 0 %}
                            <p>
                                {% for game in fixture.games %}
                                    {% if game.winner is same as fixture.users.0.id %}
                                        <div class="row">
                                            <div class="col-4" data-toggle="tooltip" title="{{ indexedDecks[game.winnerDeck] }}">{{ fixture.users.0.name }}</div>
                                            <div class="col-4">{{ game.score.winner_score }} - {{ game.score.loser_score }}</div>
                                            <div class="col-4" data-toggle="tooltip" title="{{ indexedDecks[game.loserDeck] }}">{{ fixture.users.1.name }}</div>
                                        </div>
                                    {% else %}
                                        <div class="row">
                                            <div class="col-4" data-toggle="tooltip" title="{{ indexedDecks[game.loserDeck] }}">{{ fixture.users.0.name }}</div>
                                            <div class="col-4">{{ game.score.loser_score }} - {{ game.score.winner_score }}</div>
                                            <div class="col-4" data-toggle="tooltip" title="{{ indexedDecks[game.winnerDeck] }}">{{ fixture.users.1.name }}</div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            <p>
                                <div class="row">
                                    <div class="col-12">{{ fixture.playedAt }}</div>
                                </div>
                            </p>
                        {% else %}
                            <p>
                                <div class="row">
                                    <div class="col-4">{{ fixture.users.0.name }}</div>
                                    <div class="col-4"> 0 - 0 </div>
                                    <div class="col-4">{{ fixture.users.1.name }}</div>
                                </div>
                            </p>
                        {% endif %}

                        {% if competition.winner is null and competition.startedAt is not null and competition.finishedAt is null and fixture.winner is null %}
                            {% if is_granted('ROLE_KEYFORGE') %}
                                <p>
                                    <button type="button" class="btn btn-dark btn-xs" data-bs-toggle="modal" data-bs-target="#registerCompetitionGame"
                                            data-player-one-name="{{ fixture.users.0.name }}"
                                            data-player-two-name="{{ fixture.users.1.name }}"
                                            data-player-one-id="{{ fixture.users.0.id }}"
                                            data-player-two-id="{{ fixture.users.1.id }}"
                                            data-competition-name="{{ competition.name }}"
                                            data-fixture-ref="{{ fixture.reference }}"
                                            data-fixture-id="{{ fixture.id }}"
                                    >{{ 'competition_detail.save'|trans }}</button>
                                </p>
                            {% endif %}
                        {% endif %}
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="modal fade" id="registerCompetitionGame" tabindex="-1" role="dialog" aria-labelledby="registerCompetitionGame" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modelaTitleLabel">{{ 'competition_detail.register_game'|trans }}</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registerGameForm">
                        <div class="row">
                            <label for="winnerScore" class="form-label">{{ 'competition_detail.winner'|trans }}</label>
                            <div class="col-12">
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-dark">
                                        <input class="form-check-input" type="radio" id="registerGameWinnerOption1" name="registerGameWinner" value="" autocomplete="off" checked>
                                        <label for="registerGameWinnerOption1" id="registerGameWinnerOption1Label"></label>
                                    </label>
                                    <label class="btn btn-dark">
                                        <input class="form-check-input" type="radio" id="registerGameWinnerOption2" name="registerGameWinner" value="" autocomplete="off">
                                        <label for="registerGameWinnerOption2" id="registerGameWinnerOption2Label"></label>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="divider py-1"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="winnerDeck" class="form-label">{{ 'competition_detail.winner_deck'|trans }}</label>
                                    <input class="form-control selector" list="winnerDeckOptions" id="winnerDeck" placeholder="{{ 'menu.type_to_search'|trans }}" name="winnerDeck" autocomplete="off" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="loserDeck" class="form-label">{{ 'competition_detail.loser_deck'|trans }}</label>
                                <input class="form-control selector" list="loserDeckOptions" id="loserDeck" placeholder="{{ 'menu.type_to_search'|trans }}" name="loserDeck"  autocomplete="off" required>
                            </div>
                        </div>

                        <div class="divider py-1"></div>

                        <div class="row">
                            <div class="col-md-6">
                                <label for="winnerScore" class="form-label">{{ 'competition_detail.winner_score'|trans }}</label>
                                <br>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-dark">
                                        <input class="form-check-input" type="radio" name="winnerScore" id="inlineRadio3" value="3" checked>  3
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="loserScore" class="form-label">{{ 'competition_detail.loser_score'|trans }}</label>
                                <br>
                                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                    <label class="btn btn-dark">
                                        <input class="form-check-input" type="radio" name="loserScore" value="0" autocomplete="off" checked>  0
                                    </label>
                                    <label class="btn btn-dark">
                                        <input class="form-check-input" type="radio" name="loserScore" value="1" autocomplete="off">  1
                                    </label>
                                    <label class="btn btn-dark">
                                        <input class="form-check-input" type="radio" name="loserScore" value="2" autocomplete="off">  2
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-md-6">
                                <label for="firstTurn" class="form-label">{{ 'competition_detail.first_turn'|trans }}</label>
                                <input class="form-control selector" list="firstTurnOptions" id="firstTurn" placeholder="{{ 'menu.type_to_search'|trans }}" name="firstTurn" autocomplete="off" required>
                            </div>
                            <div class="col-md-6">
                                <label for="date" class="form-label">{{ 'competition_detail.date'|trans }}</label> <br>
                                <input class="form-control" type="date" name="date" id="datepicker" min="2022-01-01" max="2030-12-31" required>
                            </div>
                        </div>

                        <div class="divider py-1"></div>

                        <div>
                            <datalist id="winnerDeckOptions">
                                {% for winnerDeck in winnerDecks %}
                                    <option data-value="{{ winnerDeck.id }}" value="{{ winnerDeck.name }}"> {{ winnerDeck.id }} </option>
                                {% endfor %}
                            </datalist>

                            <datalist id="loserDeckOptions">
                                {% for loserDeck in loserDecks %}
                                    <option data-value="{{ loserDeck.id }}" value="{{ loserDeck.name }}"> {{ loserDeck.id }} </option>
                                {% endfor %}
                            </datalist>

                            <datalist id="firstTurnOptions"></datalist>

                            <input type="hidden" id="registerGameCompetitionName" value="">
                            <input type="hidden" id="registerGameFixtureRef" value="">
                            <input type="hidden" id="registerGameFixtureId" value="">
                            <input type="hidden" id="hidden-winnerDeck" name="winnerId" value="">
                            <input type="hidden" id="hidden-loserDeck" name="loserId" value="">
                            <input type="hidden" id="hidden-firstTurn" name="firstTurnId" value="">
                        </div>

                        <div class="divider py-1"></div>

                        <button type="submit" id="registerGameSubmit" class="btn btn-block btn-dark" style="width: 100%">{{ 'competition_detail.save'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="finishCompetition" tabindex="-1" role="dialog" aria-labelledby="finishCompetition" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modelaTitleLabel">{{ 'competition_detail.crown_winner'|trans }}</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="finishCompetitionForm">
                        <div class="row">
                            <div class="col-md-7">
                                <label for="firstTurn" class="form-label">{{ 'competition_detail.winner'|trans }}</label>
                                <input class="form-control selector" list="competitionWinnerOptions" id="finishFormWinnerInput" placeholder="{{ 'menu.type_to_search'|trans }}" name="competitionWinnerFinish" autocomplete="off" required>
                            </div>
                            <div class="col-md-5">
                                <label for="date" class="form-label">{{ 'competition_detail.date'|trans }}</label> <br>
                                <input class="form-control" type="date" name="date" id="datepicker-finish-competition" min="2022-01-01" max="2030-12-31" required>
                            </div>
                        </div>

                        <datalist id="competitionWinnerOptions">
                            {% for userId in competition.users %}
                                <option data-value="{{ indexedUsers[userId].id }}" value="{{ indexedUsers[userId].name }}"> {{ indexedUsers[userId].id }}</option>
                            {% endfor %}
                        </datalist>

                        <input type="hidden" id="hiddenCompetitionId" value="{{ competition.id }}">
                        <input type="hidden" id="hidden-finishFormWinnerInput" name="competitionWinnerId" value="">

                        <div class="divider py-1"></div>
                        <div class="divider py-1"></div>

                        <button type="submit" id="registerGameSubmit" class="btn btn-block btn-dark" style="width: 100%">{{ 'competition_detail.save'|trans }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#datepicker-finish-competition')[0].value = new Date().toISOString().split('T')[0];
        });

        $('#registerCompetitionGame').on('hidden.bs.modal', function () {
            $(this).find('form').trigger('reset');
        })

        $('#registerGameForm').submit(function (e) {
            $('#registerGameSubmit')[0].disabled = true

            e.preventDefault();

            let winnerId = $('input[name=registerGameWinner]:checked')[0].value;
            let loserId = $('input[name=registerGameWinner]:not(:checked)')[0].value;
            let winnerDeck = $('#hidden-winnerDeck')[0].value;
            let loserDeck = $('#hidden-loserDeck')[0].value;
            let firstTurn = $('#hidden-firstTurn')[0].value;
            let loserScore = $('input[name=loserScore]:checked')[0].value;
            let date = $('#datepicker')[0].value;
            let competitionName = $('#registerGameCompetitionName')[0].value;
            let fixtureRef = $('#registerGameFixtureRef')[0].value;
            let fixtureId = $('#registerGameFixtureId')[0].value;

            let url = '{{ path('keyforge_competition_game_create', {'fixtureId': '-fixtureId-'}) }}';
            url = url.replace('-fixtureId-', fixtureId);

            $.post({
                url: url,
                dataType: 'json',
                data: {
                    'winner': winnerId,
                    'winnerDeck': winnerDeck,
                    'winnerChains': 0,
                    'loser': loserId,
                    'loserDeck': loserDeck,
                    'loserChains': 0,
                    'loserScore': loserScore,
                    'firstTurn': firstTurn,
                    'date': date,
                    'competition': 'LOCAL_LEAGUE',
                    'notes': competitionName + ' ' + fixtureRef,
                },
            }).done(function() {
                $('#registerCompetitionGame').modal('hide');
                location.reload();
            });
        })

        $('#startCompetition').click(function () {
            $.post({
                url: '{{ path('keyforge_competition_start') }}',
                method: 'POST',
                data: {
                    'competitionId': $('#hiddenCompetitionId')[0].value,
                },
            }).done(function() {
                location.reload();
            });
        });

        $('#finishCompetitionForm').submit(function (e) {
            e.preventDefault();

            let competitionId = $('#hiddenCompetitionId')[0].value;
            let winnerId = $('#hidden-finishFormWinnerInput')[0].value;
            let date = $('#datepicker-finish-competition')[0].value;

            $.post({
                url: '{{ path('keyforge_competition_game_finish') }}',
                method: 'POST',
                data: {
                    'competitionId': competitionId,
                    'winnerId': winnerId,
                    'date': date,
                },
            }).done(function() {
                $('#finishCompetition').modal('hide');
                location.reload();
            });
        });

        $('#registerCompetitionGame').on('show.bs.modal', function (event) {
            const button = $(event.relatedTarget);
            const playerOneName = button.data('player-one-name');
            const playerTwoName = button.data('player-two-name');
            const playerOneId = button.data('player-one-id');
            const playerTwoId = button.data('player-two-id');
            const competitionName = button.data('competition-name');
            const fixtureRef = button.data('fixture-ref');
            const fixtureId = button.data('fixture-id');

            $('#registerGameWinnerOption1')[0].value = playerOneId;
            $('#registerGameWinnerOption2')[0].value = playerTwoId;
            $('#registerGameWinnerOption1Label')[0].innerText = playerOneName;
            $('#registerGameWinnerOption2Label')[0].innerText = playerTwoName;
            $('#registerGameCompetitionName')[0].value = competitionName;
            $('#registerGameFixtureRef')[0].value = fixtureRef;
            $('#registerGameFixtureId')[0].value = fixtureId;
            $('#datepicker')[0].value = new Date().toISOString().split('T')[0];
            $('#firstTurnOptions')[0].innerHTML = '<option data-value="' + playerOneId + '" value="' + playerOneName + '"> ' + playerOneId + ' </option>'
                + '<option data-value="' + playerTwoId + '" value="' + playerTwoName + '"> ' + playerTwoId + ' </option>';
        });

        let selectors = document.querySelectorAll('.selector');

        selectors.forEach(selector => {
            selector.addEventListener("change", function (e) {
                let input = e.target;
                let listId = input.getAttribute('list');

                option = document.querySelector('#' + listId + ' option[value="' + input.value + '"]');

                if (null !== option) {
                    let hiddenInput = document.querySelector('#hidden-' + input.getAttribute('id'));
                    hiddenInput.value = option.getAttribute('data-value');
                }
            });
        });
    </script>
{% endblock %}
