{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ 'competition.create'|trans }}{% endblock %}

{% block body %}
    {% if result != false %}
        <div class="alert alert-{% if success == true %}success{% else %}danger{% endif %}" role="alert">{{ result }}</div>
    {% endif %}

    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <form action="{{ path('keyforge_competition_create') }}" method="post">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="type" class="form-label">{{ 'competition.type'|trans }}</label>
                        <select class="form-select competitionSelect" name="type" id="type">
                            <option value="ROUND_ROBIN_1" selected>{{ 'competition.round_robin'|trans({'%count%': 1}) }}</option>
                            <option value="ROUND_ROBIN_2">{{ 'competition.round_robin'|trans({'%count%': 2}) }}</option>
                            <option value="ROUND_ROBIN_3">{{ 'competition.round_robin'|trans({'%count%': 3}) }}</option>
                            <option value="ROUND_ROBIN_4">{{ 'competition.round_robin'|trans({'%count%': 4}) }}</option>
                            <option value="ELIMINATION" disabled>{{ 'competition.elimination'|trans }}</option>
                            <option value="ROUND_ROBIN_1_ELIMINATION" disabled>{{ 'competition.round_robin_elimination'|trans({'%count%': 1}) }}</option>
                            <option value="ROUND_ROBIN_2_ELIMINATION" disabled>{{ 'competition.round_robin_elimination'|trans({'%count%': 2}) }}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="type" class="form-label">{{ 'competition.pairings'|trans }}</label>
                        <select class="form-select competitionSelect" name="fixtures_type" id="fixtures_type">
                            <option value="BEST_OF_1" selected>{{ 'competition.best_of'|trans({'%count%': 1}) }}</option>
                            <option value="BEST_OF_3">{{ 'competition.best_of'|trans({'%count%': 3}) }}</option>
                            <option value="BEST_OF_5">{{ 'competition.best_of'|trans({'%count%': 5}) }}</option>
                            <option value="GAMES_3">{{ 'competition.games_count'|trans({'%count%': 3}) }}</option>
                            <option value="GAMES_5">{{ 'competition.games_count'|trans({'%count%': 5}) }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label for="name" class="form-label">{{ 'competition.name'|trans }}</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-12">
                    <div class="form-group">
                        <label for="type" class="form-label">{{ 'competition.visibility'|trans }}</label>
                        <select class="form-select competitionSelect" name="visibility" id="visibility">
                            <option value="PUBLIC" disabled>{{ 'competition.visibility.public'|trans }}</option>
                            <option value="FRIENDS" selected>{{ 'competition.visibility.friends'|trans }}</option>
                            <option value="PRIVATE">{{ 'competition.visibility.private'|trans }}</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <label for="description" class="form-label">{{ 'competition.description'|trans }}</label>
                    <textarea class="form-control" name="description" id="description" rows="5" maxlength="512"></textarea>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-block btn-dark w-100">{{ 'competition.create'|trans }}</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(document).ready(function(){
            $('.competitionSelect').select2({
                theme: 'bootstrap-5',
                minimumResultsForSearch: Infinity,
            });
        });
    </script>
{% endblock %}
