{% extends "Keyforge/Shared/keyforge_base.html.twig" %}

{% block title %}{{ 'competition.competitions'|trans }}{% endblock %}

{% block body %}
    {% if result != false %}
        <div class="alert alert-{% if success == true %}success{% else %}danger{% endif %}" role="alert">
            {{ result }}
        </div>
    {% endif %}

    <div class="shadow-lg p-3 mb-5 bg-white rounded" style="display: flex; overflow-x: auto">
        <div class="row">
            <div class="d-flex flex-row">
                <div class="col-6">
                    <h3>{{ 'competition.competitions'|trans }}</h3>
                </div>
                {% if is_granted('ROLE_KEYFORGE') %}
                    <div class="d-flex flex-row-reverse col-6">
                        <a class="btn btn-dark" href="{{ path('keyforge_competition_create') }}" role="button" aria-expanded="false">{{ 'competition.new'|trans }}</a>
                    </div>
                {% endif %}
            </div>

            <div class="divider py-2"></div>

            <table id="competitionsList" class="table table-responsive-sm table-hover" style="width:100%;">
                <thead>
                <tr>
                    <th scope="col">{{ 'competition.id'|trans }}</th>
                    <th scope="col">{{ 'competition.name'|trans }}</th>
                    <th scope="col">{{ 'competition.type'|trans }}</th>
                    <th scope="col">{{ 'competition.admins'|trans }}</th>
                    <th scope="col">{{ 'competition.players'|trans }}</th>
                    <th scope="col">{{ 'competition.description'|trans }}</th>
                    <th scope="col">{{ 'competition.visibility'|trans }}</th>
                    <th scope="col">{{ 'competition.created'|trans }}</th>
                    <th scope="col">{{ 'competition.start'|trans }}</th>
                    <th scope="col">{{ 'competition.end'|trans }}</th>
                    <th scope="col">{{ 'competition.winner'|trans }}</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            let users = JSON.parse('{{ users|json_encode|raw }}');

            $(window).on('resize', function() {
                $('#competitionsList.dataTable').resize;
            });

            $('#competitionsList').DataTable({
                searching: false,
                paging: true,
                info: true,
                responsive: true,
                processing: true,
                serverSide: true,
                order: [[8, 'desc']],
                lengthMenu: [10, 25, 50, 100],
                iDisplayLength: 25,
                ajax: {
                    url: '{{ path('keyforge_competitions_json') }}',
                },
                columns: [
                    { data: "id" },
                    { data: "name" },
                    { data: "type" },
                    { data: "admins" },
                    { data: "players" },
                    { data: "description" },
                    { data: "visibility" },
                    { data: "createdAt" },
                    { data: "startedAt" },
                    { data: "finishedAt" },
                    { data: "winner" },
                ],
                columnDefs: [
                    {
                        render: function (data, type, row) {
                            return '<a href="/competitions/' + row.id + '">' + data + '</a>';
                        },
                        targets: 1, //Name
                    },
                    {
                        render: function (data, type, row) {
                            if (data === 'ROUND_ROBIN_1') {
                                return '{{ 'competition.round_robin'|trans({'%count%': 1}) }}';
                            }

                            if (data === 'ROUND_ROBIN_2') {
                                return '{{ 'competition.round_robin'|trans({'%count%': 2}) }}';
                            }

                            if (data === 'ROUND_ROBIN_3') {
                                return '{{ 'competition.round_robin'|trans({'%count%': 3}) }}';
                            }

                            if (data === 'ROUND_ROBIN_4') {
                                return '{{ 'competition.round_robin'|trans({'%count%': 4}) }}';
                            }

                            return data;
                        },
                        targets: 2, //Type
                    },
                    {
                        render: function (data, type, row) {
                            let userNames = [];

                            data.forEach(function (user) {
                                userNames.push('<span class="text-nowrap">'+user.name+'</span>');
                            });

                            return userNames.join(', ');
                        },
                        targets: 4, //Players
                    },
                    {
                        render: function (data, type, row) {
                            if (data === '') {
                                return '-';
                            }

                            $('[data-toggle="tooltip"]').tooltip({
                                'container': 'body',
                                'placement': 'right'
                            });

                            return '<i class="bi bi-info-circle" data-toggle="tooltip" title="' + data + '"></i>';
                        },
                        targets: 5, //Description
                    },
                    {
                        render: function (data, type, row) {
                            if (null === data) {
                                return '-';
                            }

                            return data;
                        },
                        targets: 8, //Started At
                    },
                    {
                        render: function (data, type, row) {
                            if (null === data) {
                                return '-';
                            }

                            return data;
                        },
                        targets: 9, //Finished At
                    },
                    {
                        render: function (data, type, row) {
                            if (null === data) {
                                return '-';
                            }

                            let userName = data;

                            users.forEach(function (user) {
                                if (user.id === data) {
                                    userName = user.name;
                                }
                            });

                            return userName;
                        },
                        targets: 10, //Winner
                    },
                    {
                        targets: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                        orderable: false,
                        searchable: false,
                    },
                    {
                        targets: [0, 3, 6, 7],
                        visible: false,
                    },
                    { width: 200, targets: 1 },
                    { width: 150, targets: 2 },
                    { width: 400, targets: 4 },
                    { width: 40, targets: 5 },
                    { width: 100, targets: 8 },
                    { width: 100, targets: 9 },
                    { width: 100, targets: 10 },
                ],
            });
        });
    </script>
{% endblock %}
